(
  selected_tab: Some("#5bc8af"),
  command_fg: Some("#deddda"),
  selection_bg: Some("#193d66"),
  selection_fg: Some("#deddda"),
  cmdbar_bg: Some("#28282c"),
  disabled_fg: Some("#5e5c64"),
  diff_line_add: Some("#33b2a4"),
  diff_line_delete: Some("#f66151"),
  diff_file_added: Some("#33b2a4"),
  diff_file_removed: Some("#f66151"),
  diff_file_moved: Some("#5bc8af"),
  diff_file_modified: Some("#ff7800"),
  commit_hash: Some("#7d8ac7"),
  commit_time: Some("#c061cb"),
  commit_author: Some("#deddda"),
  danger_fg: Some("#c01c28"),
  push_gauge_bg: Some("#193d66"),
  push_gauge_fg: Some("#deddda"),
  tag_fg: Some("#5bc8af"),
  branch_fg: Some("#5bc8af"),
  block_title_focused: Some("#1c1c1f"),
  syntax: Some("adwaita-dark"),
)
