(
  selected_tab: Some("#93c5fd"),
  command_fg: Some("#ffffff"),
  selection_bg: Some("#1e3a5f"),
  selection_fg: Some("#ffffff"),
  cmdbar_bg: Some("#000000"),
  disabled_fg: Some("#505050"),
  diff_line_add: Some("#99ffe4"),
  diff_line_delete: Some("#ff8080"),
  diff_file_added: Some("#99ffe4"),
  diff_file_removed: Some("#ff8080"),
  diff_file_moved: Some("#93c5fd"),
  diff_file_modified: Some("#60a5fa"),
  commit_hash: Some("#60a5fa"),
  commit_time: Some("#93c5fd"),
  commit_author: Some("#ffffff"),
  danger_fg: Some("#ff8080"),
  push_gauge_bg: Some("#1e3a5f"),
  push_gauge_fg: Some("#ffffff"),
  tag_fg: Some("#93c5fd"),
  branch_fg: Some("#3b82f6"),
  block_title_focused: Some("#000000"),
  syntax: Some("atlas-ragnarok"),
)
