(
  selected_tab: Some("#ccff00"),
  command_fg: Some("#ebebd8"),
  selection_bg: Some("#48c6ff"),
  selection_fg: Some("#ebebd8"),
  cmdbar_bg: Some("#292929"),
  disabled_fg: Some("#6d6d6d"),
  diff_line_add: Some("#5a9f81"),
  diff_line_delete: Some("#f44747"),
  diff_file_added: Some("#5a9f81"),
  diff_file_removed: Some("#f44747"),
  diff_file_moved: Some("#ccff00"),
  diff_file_modified: Some("#63e7f0"),
  commit_hash: Some("#ff005b"),
  commit_time: Some("#63e7f0"),
  commit_author: Some("#ebebd8"),
  danger_fg: Some("#902020"),
  push_gauge_bg: Some("#48c6ff"),
  push_gauge_fg: Some("#ebebd8"),
  tag_fg: Some("#ccff00"),
  branch_fg: Some("#48c6ff"),
  block_title_focused: Some("#e5e5e5"),
  syntax: Some("beans"),
)
