(
  selected_tab: Some("#cecece"),
  command_fg: Some("#cecece"),
  selection_bg: Some("#1e3a5f"),
  selection_fg: Some("#cecece"),
  cmdbar_bg: Some("#252526"),
  disabled_fg: Some("#cecece"),
  diff_line_add: Some("#cecece"),
  diff_line_delete: Some("#cecece"),
  diff_file_added: Some("#cecece"),
  diff_file_removed: Some("#cecece"),
  diff_file_moved: Some("#cecece"),
  diff_file_modified: Some("#ff9800"),
  commit_hash: Some("#cc8bc9"),
  commit_time: Some("#71ade7"),
  commit_author: Some("#cecece"),
  danger_fg: Some("#dfdf8e"),
  push_gauge_bg: Some("#1e3a5f"),
  push_gauge_fg: Some("#cecece"),
  tag_fg: Some("#cecece"),
  branch_fg: Some("#cecece"),
  block_title_focused: Some("#0e1415"),
  syntax: Some("wolf-alabaster-dark-bg"),
)
