(
  selected_tab: Some("#0000ff"),
  command_fg: Some("#000000"),
  selection_bg: Some("#ffec8b"),
  selection_fg: Some("#000000"),
  cmdbar_bg: Some("#bfbfbf"),
  disabled_fg: Some("#b22222"),
  diff_line_add: Some("#00cd00"),
  diff_line_delete: Some("#ee0000"),
  diff_file_added: Some("#00cd00"),
  diff_file_removed: Some("#ee0000"),
  diff_file_moved: Some("#0000ff"),
  diff_file_modified: Some("#ee9a00"),
  commit_hash: Some("#008b8b"),
  commit_time: Some("#228b22"),
  commit_author: Some("#a0522d"),
  danger_fg: Some("#ff0000"),
  push_gauge_bg: Some("#ffec8b"),
  push_gauge_fg: Some("#000000"),
  tag_fg: Some("#0000ff"),
  branch_fg: Some("#228b22"),
  block_title_focused: Some("#ffffff"),
  syntax: Some("emacs"),
)
