(
  selected_tab: Some("#519fdf"),
  command_fg: Some("#abb2bf"),
  selection_bg: Some("#16181a"),
  selection_fg: Some("#abb2bf"),
  cmdbar_bg: Some("#2c323c"),
  disabled_fg: Some("#636c6e"),
  diff_line_add: Some("#7da869"),
  diff_line_delete: Some("#d05c65"),
  diff_file_added: Some("#7da869"),
  diff_file_removed: Some("#d05c65"),
  diff_file_moved: Some("#519fdf"),
  diff_file_modified: Some("#d19a66"),
  commit_hash: Some("#d19a66"),
  commit_time: Some("#519fdf"),
  commit_author: Some("#abb2bf"),
  danger_fg: Some("#d05c65"),
  push_gauge_bg: Some("#16181a"),
  push_gauge_fg: Some("#abb2bf"),
  tag_fg: Some("#519fdf"),
  branch_fg: Some("#d5b06b"),
  block_title_focused: Some("#abb2bf"),
  syntax: Some("onedarker"),
)
