(
  selected_tab: Some("#a8cc7c"),
  command_fg: Some("#d1d1d1"),
  selection_bg: Some("#383838"),
  selection_fg: Some("#d1d1d1"),
  cmdbar_bg: Some("#292929"),
  disabled_fg: Some("#898989"),
  diff_line_add: Some("#4ca988"),
  diff_line_delete: Some("#ce364d"),
  diff_file_added: Some("#4ca988"),
  diff_file_removed: Some("#ce364d"),
  diff_file_moved: Some("#a8cc7c"),
  diff_file_modified: Some("#1a85f6"),
  commit_hash: Some("#af9cff"),
  commit_time: Some("#a366c4"),
  commit_author: Some("#d1d1d1"),
  danger_fg: Some("#ff5269"),
  push_gauge_bg: Some("#383838"),
  push_gauge_fg: Some("#d1d1d1"),
  tag_fg: Some("#a8cc7c"),
  branch_fg: Some("#87c3ff"),
  block_title_focused: Some("#ffffff"),
  syntax: Some("fleet_dark"),
)
