(
  selected_tab: Some("#3a94c5"),
  command_fg: Some("#5c6a72"),
  selection_bg: Some("#e6e2cc"),
  selection_fg: Some("#5c6a72"),
  cmdbar_bg: Some("#e6e2cc"),
  disabled_fg: Some("#939f91"),
  diff_line_add: Some("#8da101"),
  diff_line_delete: Some("#f85552"),
  diff_file_added: Some("#8da101"),
  diff_file_removed: Some("#f85552"),
  diff_file_moved: Some("#3a94c5"),
  diff_file_modified: Some("#3a94c5"),
  commit_hash: Some("#5c6a72"),
  commit_time: Some("#3a94c5"),
  commit_author: Some("#5c6a72"),
  danger_fg: Some("#f85552"),
  push_gauge_bg: Some("#e6e2cc"),
  push_gauge_fg: Some("#5c6a72"),
  tag_fg: Some("#3a94c5"),
  branch_fg: Some("#dfa000"),
  block_title_focused: Some("#f4f0d9"),
  syntax: Some("everforest_light"),
)
