(
  selected_tab: Some("#ba2f59"),
  command_fg: Some("#655370"),
  selection_bg: Some("#e7e7fc"),
  selection_fg: Some("#655370"),
  cmdbar_bg: Some("#d1dcdf"),
  disabled_fg: Some("#a49da5"),
  diff_line_add: Some("#2d9574"),
  diff_line_delete: Some("#ba2f59"),
  diff_file_added: Some("#2d9574"),
  diff_file_removed: Some("#ba2f59"),
  diff_file_moved: Some("#ba2f59"),
  diff_file_modified: Some("#715ab1"),
  commit_hash: Some("#6c3163"),
  commit_time: Some("#3a81c3"),
  commit_author: Some("#715ab1"),
  danger_fg: Some("#e0211d"),
  push_gauge_bg: Some("#e7e7fc"),
  push_gauge_fg: Some("#655370"),
  tag_fg: Some("#ba2f59"),
  branch_fg: Some("#6c3163"),
  block_title_focused: Some("#655370"),
  syntax: Some("spacebones_light"),
)
