(
  selected_tab: Some("#3e999f"),
  command_fg: Some("#444444"),
  selection_bg: Some("#2c687a"),
  selection_fg: Some("#444444"),
  cmdbar_bg: Some("#005f87"),
  disabled_fg: Some("#878787"),
  diff_line_add: Some("#008700"),
  diff_line_delete: Some("#af0000"),
  diff_file_added: Some("#008700"),
  diff_file_removed: Some("#af0000"),
  diff_file_moved: Some("#3e999f"),
  diff_file_modified: Some("#005faf"),
  commit_hash: Some("#d75f00"),
  commit_time: Some("#d75f00"),
  commit_author: Some("#444444"),
  danger_fg: Some("#d70000"),
  push_gauge_bg: Some("#2c687a"),
  push_gauge_fg: Some("#444444"),
  tag_fg: Some("#3e999f"),
  branch_fg: Some("#d70087"),
  block_title_focused: Some("#eeeeee"),
  syntax: Some("papercolor-light"),
)
