(
  selected_tab: Some("#f59762"),
  command_fg: Some("#f7f1ff"),
  selection_bg: Some("#525053"),
  selection_fg: Some("#f7f1ff"),
  cmdbar_bg: Some("#525053"),
  disabled_fg: Some("#69676c"),
  diff_line_add: Some("#7bd88f"),
  diff_line_delete: Some("#fc618d"),
  diff_file_added: Some("#7bd88f"),
  diff_file_removed: Some("#fc618d"),
  diff_file_moved: Some("#f59762"),
  diff_file_modified: Some("#fd9353"),
  commit_hash: Some("#fd9353"),
  commit_time: Some("#f7f1ff"),
  commit_author: Some("#f7f1ff"),
  danger_fg: Some("#fc618d"),
  push_gauge_bg: Some("#525053"),
  push_gauge_fg: Some("#f7f1ff"),
  tag_fg: Some("#f59762"),
  branch_fg: Some("#7bd88f"),
  block_title_focused: Some("#fce566"),
  syntax: Some("monokai_pro_spectrum"),
)
