(
  selected_tab: Some("#00ff80"),
  command_fg: Some("#32c9fa"),
  selection_bg: Some("#1b0334"),
  selection_fg: Some("#32c9fa"),
  cmdbar_bg: Some("#121212"),
  disabled_fg: Some("#bd5173"),
  diff_line_add: Some("#00ff80"),
  diff_line_delete: Some("#c32101"),
  diff_file_added: Some("#00ff80"),
  diff_file_removed: Some("#c32101"),
  diff_file_moved: Some("#00ff80"),
  diff_file_modified: Some("#ff8f40"),
  commit_hash: Some("#f7b90c"),
  commit_time: Some("#32c9fa"),
  commit_author: Some("#186800"),
  danger_fg: Some("#c32101"),
  push_gauge_bg: Some("#1b0334"),
  push_gauge_fg: Some("#32c9fa"),
  tag_fg: Some("#00ff80"),
  branch_fg: Some("#32c9fa"),
  block_title_focused: Some("#000000"),
  syntax: Some("heisenberg"),
)
