(
  selected_tab: Some("#78522c"),
  command_fg: Some("#1a1816"),
  selection_bg: Some("#d7c5b1"),
  selection_fg: Some("#1a1816"),
  cmdbar_bg: Some("#cfc4b6"),
  disabled_fg: Some("#222d38"),
  diff_line_add: Some("#3a5830"),
  diff_line_delete: Some("#6a2828"),
  diff_file_added: Some("#3a5830"),
  diff_file_removed: Some("#6a2828"),
  diff_file_moved: Some("#78522c"),
  diff_file_modified: Some("#b07840"),
  commit_hash: Some("#447c7c"),
  commit_time: Some("#304050"),
  commit_author: Some("#1a1816"),
  danger_fg: Some("#6a2828"),
  push_gauge_bg: Some("#d7c5b1"),
  push_gauge_fg: Some("#1a1816"),
  tag_fg: Some("#78522c"),
  branch_fg: Some("#b07840"),
  block_title_focused: Some("#e4ded6"),
  syntax: Some("akari-dawn"),
)
