(
  selected_tab: Some("#5dc5f8"),
  command_fg: Some("#e6e6e6"),
  selection_bg: Some("#929292"),
  selection_fg: Some("#e6e6e6"),
  cmdbar_bg: Some("#353535"),
  disabled_fg: Some("#929292"),
  diff_line_add: Some("#35d450"),
  diff_line_delete: Some("#ff4d51"),
  diff_file_added: Some("#35d450"),
  diff_file_removed: Some("#ff4d51"),
  diff_file_moved: Some("#5dc5f8"),
  diff_file_modified: Some("#5dc5f8"),
  commit_hash: Some("#24dfc4"),
  commit_time: Some("#5dc5f8"),
  commit_author: Some("#ffffff"),
  danger_fg: Some("#ff4d51"),
  push_gauge_bg: Some("#929292"),
  push_gauge_fg: Some("#e6e6e6"),
  tag_fg: Some("#5dc5f8"),
  branch_fg: Some("#24dfc4"),
  block_title_focused: Some("#1e1e1e"),
  syntax: Some("starlight"),
)
