(
  selected_tab: Some("#1c02ff"),
  command_fg: Some("#000000"),
  selection_bg: Some("#c3dcff"),
  selection_fg: Some("#000000"),
  cmdbar_bg: Some("#ededed"),
  disabled_fg: Some("#00b418"),
  diff_line_add: Some("#00b418"),
  diff_line_delete: Some("#990000"),
  diff_file_added: Some("#00b418"),
  diff_file_removed: Some("#990000"),
  diff_file_moved: Some("#1c02ff"),
  diff_file_modified: Some("#0000a2"),
  commit_hash: Some("#585cf6"),
  commit_time: Some("#808080"),
  commit_author: Some("#0206ff"),
  danger_fg: Some("#990000"),
  push_gauge_bg: Some("#c3dcff"),
  push_gauge_fg: Some("#000000"),
  tag_fg: Some("#1c02ff"),
  branch_fg: Some("#a0785a"),
  block_title_focused: Some("#000000"),
  syntax: Some("eiffel"),
)
