(
  selected_tab: Some("#f59762"),
  command_fg: Some("#cfcfc2"),
  selection_bg: Some("#444444"),
  selection_fg: Some("#cfcfc2"),
  cmdbar_bg: Some("#444444"),
  disabled_fg: Some("#75715e"),
  diff_line_add: Some("#a6e22e"),
  diff_line_delete: Some("#f92a72"),
  diff_file_added: Some("#a6e22e"),
  diff_file_removed: Some("#f92a72"),
  diff_file_moved: Some("#f59762"),
  diff_file_modified: Some("#fd971f"),
  commit_hash: Some("#cfcfc2"),
  commit_time: Some("#cfcfc2"),
  commit_author: Some("#cfcfc2"),
  danger_fg: Some("#f92a72"),
  push_gauge_bg: Some("#444444"),
  push_gauge_fg: Some("#cfcfc2"),
  tag_fg: Some("#f59762"),
  branch_fg: Some("#66d9ef"),
  block_title_focused: Some("#e6db74"),
  syntax: Some("monokai_soda"),
)
