(
  selected_tab: Some("#ff6ac1"),
  command_fg: Some("#eff0eb"),
  selection_bg: Some("#4d4f66"),
  selection_fg: Some("#eff0eb"),
  cmdbar_bg: Some("#21222c"),
  disabled_fg: Some("#a39e9b"),
  diff_line_add: Some("#5af78e"),
  diff_line_delete: Some("#ff5c57"),
  diff_file_added: Some("#5af78e"),
  diff_file_removed: Some("#ff5c57"),
  diff_file_moved: Some("#ff6ac1"),
  diff_file_modified: Some("#57c7ff"),
  commit_hash: Some("#bd93f9"),
  commit_time: Some("#a39e9b"),
  commit_author: Some("#9aedfe"),
  danger_fg: Some("#ff5c57"),
  push_gauge_bg: Some("#4d4f66"),
  push_gauge_fg: Some("#eff0eb"),
  tag_fg: Some("#ff6ac1"),
  branch_fg: Some("#b1d7c7"),
  block_title_focused: Some("#282a36"),
  syntax: Some("snazzy"),
)
