(
  selected_tab: Some("#be95ff"),
  command_fg: Some("#a8a8a8"),
  selection_bg: Some("#393939"),
  selection_fg: Some("#a8a8a8"),
  cmdbar_bg: Some("#262626"),
  disabled_fg: Some("#525252"),
  diff_line_add: Some("#6fdc8c"),
  diff_line_delete: Some("#ffa4a9"),
  diff_file_added: Some("#6fdc8c"),
  diff_file_removed: Some("#ffa4a9"),
  diff_file_moved: Some("#be95ff"),
  diff_file_modified: Some("#78a9ff"),
  commit_hash: Some("#3ddbd9"),
  commit_time: Some("#78a9ff"),
  commit_author: Some("#a8a8a8"),
  danger_fg: Some("#ff7eb6"),
  push_gauge_bg: Some("#393939"),
  push_gauge_fg: Some("#a8a8a8"),
  tag_fg: Some("#be95ff"),
  branch_fg: Some("#08bdba"),
  block_title_focused: Some("#161616"),
  syntax: Some("carbon"),
)
