(
  selected_tab: Some("#5f5f00"),
  command_fg: Some("#14161b"),
  selection_bg: Some("#d7d7af"),
  selection_fg: Some("#14161b"),
  cmdbar_bg: Some("#d7d7af"),
  disabled_fg: Some("#5f875f"),
  diff_line_add: Some("#87af87"),
  diff_line_delete: Some("#d7005f"),
  diff_file_added: Some("#87af87"),
  diff_file_removed: Some("#d7005f"),
  diff_file_moved: Some("#5f5f00"),
  diff_file_modified: Some("#5f87d7"),
  commit_hash: Some("#5fafaf"),
  commit_time: Some("#5f875f"),
  commit_author: Some("#14161b"),
  danger_fg: Some("#d70000"),
  push_gauge_bg: Some("#d7d7af"),
  push_gauge_fg: Some("#14161b"),
  tag_fg: Some("#5f5f00"),
  branch_fg: Some("#875f00"),
  block_title_focused: Some("#3a3a3a"),
  syntax: Some("seoul256-light-hard"),
)
