(
  selected_tab: Some("#f265b5"),
  command_fg: Some("#ebfafa"),
  selection_bg: Some("#323449"),
  selection_fg: Some("#ebfafa"),
  cmdbar_bg: Some("#212337"),
  disabled_fg: Some("#7081d0"),
  diff_line_add: Some("#37f499"),
  diff_line_delete: Some("#f16c75"),
  diff_file_added: Some("#37f499"),
  diff_file_removed: Some("#f16c75"),
  diff_file_moved: Some("#f265b5"),
  diff_file_modified: Some("#ffb86c"),
  commit_hash: Some("#a48cf2"),
  commit_time: Some("#04d1f9"),
  commit_author: Some("#ebfafa"),
  danger_fg: Some("#f16c75"),
  push_gauge_bg: Some("#323449"),
  push_gauge_fg: Some("#ebfafa"),
  tag_fg: Some("#f265b5"),
  branch_fg: Some("#04d1f9"),
  block_title_focused: Some("#323449"),
  syntax: Some("eldritch_transparent"),
)
