(
  selected_tab: Some("#4c5361"),
  command_fg: Some("#605a52"),
  selection_bg: Some("#dcd3c6"),
  selection_fg: Some("#605a52"),
  cmdbar_bg: Some("#605a52"),
  disabled_fg: Some("#93836c"),
  diff_line_add: Some("#2db448"),
  diff_line_delete: Some("#ff1414"),
  diff_file_added: Some("#2db448"),
  diff_file_removed: Some("#ff1414"),
  diff_file_moved: Some("#4c5361"),
  diff_file_modified: Some("#f2a60d"),
  commit_hash: Some("#4c5361"),
  commit_time: Some("#5b5143"),
  commit_author: Some("#605a52"),
  danger_fg: Some("#ff1414"),
  push_gauge_bg: Some("#dcd3c6"),
  push_gauge_fg: Some("#605a52"),
  tag_fg: Some("#4c5361"),
  branch_fg: Some("#605a52"),
  block_title_focused: Some("#605a52"),
  syntax: Some("flatwhite"),
)
