(
  selected_tab: Some("#32cd32"),
  command_fg: Some("#d0d0d0"),
  selection_bg: Some("#383838"),
  selection_fg: Some("#d0d0d0"),
  cmdbar_bg: Some("#383838"),
  disabled_fg: Some("#808080"),
  diff_line_add: Some("#32cd32"),
  diff_line_delete: Some("#282828"),
  diff_file_added: Some("#32cd32"),
  diff_file_removed: Some("#282828"),
  diff_file_moved: Some("#32cd32"),
  diff_file_modified: Some("#808080"),
  commit_hash: Some("#6897bb"),
  commit_time: Some("#d8d8d8"),
  commit_author: Some("#d0d0d0"),
  danger_fg: Some("#cc7832"),
  push_gauge_bg: Some("#383838"),
  push_gauge_fg: Some("#d0d0d0"),
  tag_fg: Some("#32cd32"),
  branch_fg: Some("#d0d0d0"),
  block_title_focused: Some("#b8b8b8"),
  syntax: Some("darcula-solid"),
)
