(
  selected_tab: Some("#b16286"),
  command_fg: Some("#ebdbb2"),
  selection_bg: Some("#504945"),
  selection_fg: Some("#ebdbb2"),
  cmdbar_bg: Some("#504945"),
  disabled_fg: Some("#928374"),
  diff_line_add: Some("#b8bb26"),
  diff_line_delete: Some("#fb4934"),
  diff_file_added: Some("#b8bb26"),
  diff_file_removed: Some("#fb4934"),
  diff_file_moved: Some("#b16286"),
  diff_file_modified: Some("#fabd2f"),
  commit_hash: Some("#d3869b"),
  commit_time: Some("#8ec07c"),
  commit_author: Some("#ebdbb2"),
  danger_fg: Some("#cc241d"),
  push_gauge_bg: Some("#504945"),
  push_gauge_fg: Some("#ebdbb2"),
  tag_fg: Some("#b16286"),
  branch_fg: Some("#fabd2f"),
  block_title_focused: Some("#3c3836"),
  syntax: Some("gruvbox_dark_hard"),
)
