(
  selected_tab: Some("#000000"),
  command_fg: Some("#000000"),
  selection_bg: Some("#dde7ed"),
  selection_fg: Some("#000000"),
  cmdbar_bg: Some("#eeeeee"),
  disabled_fg: Some("#000000"),
  diff_line_add: Some("#000000"),
  diff_line_delete: Some("#000000"),
  diff_file_added: Some("#000000"),
  diff_file_removed: Some("#000000"),
  diff_file_moved: Some("#000000"),
  diff_file_modified: Some("#ffbc5d"),
  commit_hash: Some("#7a3e9d"),
  commit_time: Some("#325cc0"),
  commit_author: Some("#000000"),
  danger_fg: Some("#aa3731"),
  push_gauge_bg: Some("#dde7ed"),
  push_gauge_fg: Some("#000000"),
  tag_fg: Some("#000000"),
  branch_fg: Some("#000000"),
  block_title_focused: Some("#f7f7f7"),
  syntax: Some("wolf-alabaster-light-bg"),
)
