(
  selected_tab: Some("#7bb1ff"),
  command_fg: Some("#cdd6f4"),
  selection_bg: Some("#42455d"),
  selection_fg: Some("#cdd6f4"),
  cmdbar_bg: Some("#1f212d"),
  disabled_fg: Some("#647a8c"),
  diff_line_add: Some("#9feb99"),
  diff_line_delete: Some("#ff7ea2"),
  diff_file_added: Some("#9feb99"),
  diff_file_removed: Some("#ff7ea2"),
  diff_file_moved: Some("#7bb1ff"),
  diff_file_modified: Some("#7bb1ff"),
  commit_hash: Some("#ea8743"),
  commit_time: Some("#7de4f7"),
  commit_author: Some("#cdd6f4"),
  danger_fg: Some("#ff7ea2"),
  push_gauge_bg: Some("#42455d"),
  push_gauge_fg: Some("#cdd6f4"),
  tag_fg: Some("#7bb1ff"),
  branch_fg: Some("#ffea9b"),
  block_title_focused: Some("#151520"),
  syntax: Some("neonotte84"),
)
