(
  selected_tab: Some("#f59762"),
  command_fg: Some("#fff1f3"),
  selection_bg: Some("#5b5353"),
  selection_fg: Some("#fff1f3"),
  cmdbar_bg: Some("#5b5353"),
  disabled_fg: Some("#72696a"),
  diff_line_add: Some("#adda78"),
  diff_line_delete: Some("#fd6883"),
  diff_file_added: Some("#adda78"),
  diff_file_removed: Some("#fd6883"),
  diff_file_moved: Some("#f59762"),
  diff_file_modified: Some("#f38d70"),
  commit_hash: Some("#f38d70"),
  commit_time: Some("#fff1f3"),
  commit_author: Some("#fff1f3"),
  danger_fg: Some("#fd6883"),
  push_gauge_bg: Some("#5b5353"),
  push_gauge_fg: Some("#fff1f3"),
  tag_fg: Some("#f59762"),
  branch_fg: Some("#adda78"),
  block_title_focused: Some("#f9cc6c"),
  syntax: Some("monokai_pro_ristretto"),
)
