(
  selected_tab: Some("#89b4fa"),
  command_fg: Some("#cdd6f4"),
  selection_bg: Some("#45475a"),
  selection_fg: Some("#cdd6f4"),
  cmdbar_bg: Some("#181825"),
  disabled_fg: Some("#9399b2"),
  diff_line_add: Some("#a6e3a1"),
  diff_line_delete: Some("#f38ba8"),
  diff_file_added: Some("#a6e3a1"),
  diff_file_removed: Some("#f38ba8"),
  diff_file_moved: Some("#89b4fa"),
  diff_file_modified: Some("#89b4fa"),
  commit_hash: Some("#fab387"),
  commit_time: Some("#89dceb"),
  commit_author: Some("#cdd6f4"),
  danger_fg: Some("#f38ba8"),
  push_gauge_bg: Some("#45475a"),
  push_gauge_fg: Some("#cdd6f4"),
  tag_fg: Some("#89b4fa"),
  branch_fg: Some("#f9e2af"),
  block_title_focused: Some("#1e1e2e"),
  syntax: Some("catppuccin_macchiato"),
)
