(
  selected_tab: Some("#16a3b6"),
  command_fg: Some("#cbbec2"),
  selection_bg: Some("#997582"),
  selection_fg: Some("#cbbec2"),
  cmdbar_bg: Some("#2c2528"),
  disabled_fg: Some("#585858"),
  diff_line_add: Some("#49e9a6"),
  diff_line_delete: Some("#e4b781"),
  diff_file_added: Some("#49e9a6"),
  diff_file_removed: Some("#e4b781"),
  diff_file_moved: Some("#16a3b6"),
  diff_file_modified: Some("#d5971a"),
  commit_hash: Some("#d5971a"),
  commit_time: Some("#16a3b6"),
  commit_author: Some("#e4b781"),
  danger_fg: Some("#e4b781"),
  push_gauge_bg: Some("#997582"),
  push_gauge_fg: Some("#cbbec2"),
  tag_fg: Some("#16a3b6"),
  branch_fg: Some("#b0b0ff"),
  block_title_focused: Some("#322a2d"),
  syntax: Some("noctis_bordo"),
)
