(
  selected_tab: Some("#efba5d"),
  command_fg: Some("#bfdbfe"),
  selection_bg: Some("#4f46e5"),
  selection_fg: Some("#bfdbfe"),
  cmdbar_bg: Some("#000000"),
  disabled_fg: Some("#697c81"),
  diff_line_add: Some("#35bf86"),
  diff_line_delete: Some("#f22c86"),
  diff_file_added: Some("#35bf86"),
  diff_file_removed: Some("#f22c86"),
  diff_file_moved: Some("#efba5d"),
  diff_file_modified: Some("#6366f1"),
  commit_hash: Some("#ffffff"),
  commit_time: Some("#6366f1"),
  commit_author: Some("#c7d2fe"),
  danger_fg: Some("#f43f5e"),
  push_gauge_bg: Some("#4f46e5"),
  push_gauge_fg: Some("#bfdbfe"),
  tag_fg: Some("#efba5d"),
  branch_fg: Some("#ffffff"),
  block_title_focused: Some("#ffffff"),
  syntax: Some("curzon"),
)
