(
  selected_tab: Some("#d7d7af"),
  command_fg: Some("#d0d0d0"),
  selection_bg: Some("#875f5f"),
  selection_fg: Some("#d0d0d0"),
  cmdbar_bg: Some("#d7d7af"),
  disabled_fg: Some("#5f875f"),
  diff_line_add: Some("#87af87"),
  diff_line_delete: Some("#d7005f"),
  diff_file_added: Some("#87af87"),
  diff_file_removed: Some("#d7005f"),
  diff_file_moved: Some("#d7d7af"),
  diff_file_modified: Some("#5f87d7"),
  commit_hash: Some("#5fafaf"),
  commit_time: Some("#87d7d7"),
  commit_author: Some("#d0d0d0"),
  danger_fg: Some("#d70000"),
  push_gauge_bg: Some("#875f5f"),
  push_gauge_fg: Some("#d0d0d0"),
  tag_fg: Some("#d7d7af"),
  branch_fg: Some("#d8af5f"),
  block_title_focused: Some("#d0d0d0"),
  syntax: Some("seoul256-dark-soft"),
)
