(
  selected_tab: Some("#c9b58e"),
  command_fg: Some("#dad7d5"),
  selection_bg: Some("#302d2b"),
  selection_fg: Some("#dad7d5"),
  cmdbar_bg: Some("#302d2b"),
  disabled_fg: Some("#707035"),
  diff_line_add: Some("#a49db9"),
  diff_line_delete: Some("#d29595"),
  diff_file_added: Some("#a49db9"),
  diff_file_removed: Some("#d29595"),
  diff_file_moved: Some("#c9b58e"),
  diff_file_modified: Some("#b494af"),
  commit_hash: Some("#b494af"),
  commit_time: Some("#a49db9"),
  commit_author: Some("#dad7d5"),
  danger_fg: Some("#d29595"),
  push_gauge_bg: Some("#302d2b"),
  push_gauge_fg: Some("#dad7d5"),
  tag_fg: Some("#c9b58e"),
  branch_fg: Some("#c2b4a8"),
  block_title_focused: Some("#1c1917"),
  syntax: Some("meliora"),
)
