(
  selected_tab: Some("#1abde0"),
  command_fg: Some("#d5dae6"),
  selection_bg: Some("#d147ff"),
  selection_fg: Some("#d5dae6"),
  cmdbar_bg: Some("#252d30"),
  disabled_fg: Some("#b4bcc8"),
  diff_line_add: Some("#5dd75d"),
  diff_line_delete: Some("#ff5d8f"),
  diff_file_added: Some("#5dd75d"),
  diff_file_removed: Some("#ff5d8f"),
  diff_file_moved: Some("#1abde0"),
  diff_file_modified: Some("#2fa5f0"),
  commit_hash: Some("#ff8f35"),
  commit_time: Some("#2fa5f0"),
  commit_author: Some("#d5dae6"),
  danger_fg: Some("#ff5d8f"),
  push_gauge_bg: Some("#d147ff"),
  push_gauge_fg: Some("#d5dae6"),
  tag_fg: Some("#1abde0"),
  branch_fg: Some("#e8d154"),
  block_title_focused: Some("#16181a"),
  syntax: Some("onedarker_vibrant"),
)
