(
  selected_tab: Some("#d9ae94"),
  command_fg: Some("#83c679"),
  selection_bg: Some("#3b3b3d"),
  selection_fg: Some("#83c679"),
  cmdbar_bg: Some("#3b3b3d"),
  disabled_fg: Some("#747575"),
  diff_line_add: Some("#4f6f52"),
  diff_line_delete: Some("#b80000"),
  diff_file_added: Some("#4f6f52"),
  diff_file_removed: Some("#b80000"),
  diff_file_moved: Some("#d9ae94"),
  diff_file_modified: Some("#3876bf"),
  commit_hash: Some("#a5c4d4"),
  commit_time: Some("#ffcb69"),
  commit_author: Some("#778e61"),
  danger_fg: Some("#de6468"),
  push_gauge_bg: Some("#3b3b3d"),
  push_gauge_fg: Some("#83c679"),
  tag_fg: Some("#d9ae94"),
  branch_fg: Some("#efbe4c"),
  block_title_focused: Some("#83c679"),
  syntax: Some("vintage"),
)
