(
  selected_tab: Some("#7cafc2"),
  command_fg: Some("#383838"),
  selection_bg: Some("#d8d8d8"),
  selection_fg: Some("#383838"),
  cmdbar_bg: Some("#e8e8e8"),
  disabled_fg: Some("#b8b8b8"),
  diff_line_add: Some("#a1b56c"),
  diff_line_delete: Some("#ab4642"),
  diff_file_added: Some("#a1b56c"),
  diff_file_removed: Some("#ab4642"),
  diff_file_moved: Some("#7cafc2"),
  diff_file_modified: Some("#dc9656"),
  commit_hash: Some("#dc9656"),
  commit_time: Some("#7cafc2"),
  commit_author: Some("#ab4642"),
  danger_fg: Some("#ab4642"),
  push_gauge_bg: Some("#d8d8d8"),
  push_gauge_fg: Some("#383838"),
  tag_fg: Some("#7cafc2"),
  branch_fg: Some("#f7ca88"),
  block_title_focused: Some("#585858"),
  syntax: Some("base16_default_light"),
)
