(
  selected_tab: Some("#c678dd"),
  command_fg: Some("#bbc2cf"),
  selection_bg: Some("#3c4048"),
  selection_fg: Some("#bbc2cf"),
  cmdbar_bg: Some("#282c34"),
  disabled_fg: Some("#5b6268"),
  diff_line_add: Some("#98be65"),
  diff_line_delete: Some("#ff6c6b"),
  diff_file_added: Some("#98be65"),
  diff_file_removed: Some("#ff6c6b"),
  diff_file_moved: Some("#c678dd"),
  diff_file_modified: Some("#98be65"),
  commit_hash: Some("#da8548"),
  commit_time: Some("#46d9ff"),
  commit_author: Some("#bbc2cf"),
  danger_fg: Some("#ff6c6b"),
  push_gauge_bg: Some("#3c4048"),
  push_gauge_fg: Some("#bbc2cf"),
  tag_fg: Some("#c678dd"),
  branch_fg: Some("#ecbe7b"),
  block_title_focused: Some("#282c34"),
  syntax: Some("doom-one"),
)
