(
  selected_tab: Some("#d483fc"),
  command_fg: Some("#d6e2ff"),
  selection_bg: Some("#1b1f27"),
  selection_fg: Some("#d6e2ff"),
  cmdbar_bg: Some("#1b1f27"),
  disabled_fg: Some("#7183a9"),
  diff_line_add: Some("#abfc83"),
  diff_line_delete: Some("#fc83ab"),
  diff_file_added: Some("#abfc83"),
  diff_file_removed: Some("#fc83ab"),
  diff_file_moved: Some("#d483fc"),
  diff_file_modified: Some("#d6e2ff"),
  commit_hash: Some("#84fcd4"),
  commit_time: Some("#7183a9"),
  commit_author: Some("#d6e2ff"),
  danger_fg: Some("#7183a9"),
  push_gauge_bg: Some("#1b1f27"),
  push_gauge_fg: Some("#d6e2ff"),
  tag_fg: Some("#d483fc"),
  branch_fg: Some("#abfc83"),
  block_title_focused: Some("#1b1f27"),
  syntax: Some("lapis_aquamarine"),
)
