(
  selected_tab: Some("#91b4d5"),
  command_fg: Some("#a6accd"),
  selection_bg: Some("#303340"),
  selection_fg: Some("#a6accd"),
  cmdbar_bg: Some("#30354a"),
  disabled_fg: Some("#6c7494"),
  diff_line_add: Some("#5fb3a1"),
  diff_line_delete: Some("#d0679d"),
  diff_file_added: Some("#5fb3a1"),
  diff_file_removed: Some("#d0679d"),
  diff_file_moved: Some("#91b4d5"),
  diff_file_modified: Some("#add7ff"),
  commit_hash: Some("#5de4c7"),
  commit_time: Some("#add7ff"),
  commit_author: Some("#e4f0fb"),
  danger_fg: Some("#d0679d"),
  push_gauge_bg: Some("#303340"),
  push_gauge_fg: Some("#a6accd"),
  tag_fg: Some("#91b4d5"),
  branch_fg: Some("#98a0c2"),
  block_title_focused: Some("#1b1e28"),
  syntax: Some("poimandres"),
)
