(
  selected_tab: Some("#ffc799"),
  command_fg: Some("#ffffff"),
  selection_bg: Some("#666666"),
  selection_fg: Some("#ffffff"),
  cmdbar_bg: Some("#1c1c1c"),
  disabled_fg: Some("#8b8b8b"),
  diff_line_add: Some("#99ffe4"),
  diff_line_delete: Some("#ff8080"),
  diff_file_added: Some("#99ffe4"),
  diff_file_removed: Some("#ff8080"),
  diff_file_moved: Some("#ffc799"),
  diff_file_modified: Some("#ffc799"),
  commit_hash: Some("#ffc799"),
  commit_time: Some("#ffffff"),
  commit_author: Some("#ffffff"),
  danger_fg: Some("#ff8080"),
  push_gauge_bg: Some("#666666"),
  push_gauge_fg: Some("#ffffff"),
  tag_fg: Some("#ffc799"),
  branch_fg: Some("#ffc799"),
  block_title_focused: Some("#ffffff"),
  syntax: Some("vesper"),
)
