(
  selected_tab: Some("#e4c397"),
  command_fg: Some("#e6ded3"),
  selection_bg: Some("#51422e"),
  selection_fg: Some("#e6ded3"),
  cmdbar_bg: Some("#323333"),
  disabled_fg: Some("#9babb9"),
  diff_line_add: Some("#7faf6a"),
  diff_line_delete: Some("#d25046"),
  diff_file_added: Some("#7faf6a"),
  diff_file_removed: Some("#d25046"),
  diff_file_moved: Some("#e4c397"),
  diff_file_modified: Some("#d4a05a"),
  commit_hash: Some("#8ca6a1"),
  commit_time: Some("#7a8fa2"),
  commit_author: Some("#e6ded3"),
  danger_fg: Some("#d25046"),
  push_gauge_bg: Some("#51422e"),
  push_gauge_fg: Some("#e6ded3"),
  tag_fg: Some("#e4c397"),
  branch_fg: Some("#d4a05a"),
  block_title_focused: Some("#25231f"),
  syntax: Some("akari-night"),
)
