(
  selected_tab: Some("#c4b28a"),
  command_fg: Some("#c5c9c5"),
  selection_bg: Some("#2d4f67"),
  selection_fg: Some("#c5c9c5"),
  cmdbar_bg: Some("#0d0c0c"),
  disabled_fg: Some("#737c73"),
  diff_line_add: Some("#76946a"),
  diff_line_delete: Some("#c34043"),
  diff_file_added: Some("#76946a"),
  diff_file_removed: Some("#c34043"),
  diff_file_moved: Some("#c4b28a"),
  diff_file_modified: Some("#dca561"),
  commit_hash: Some("#b6927b"),
  commit_time: Some("#658594"),
  commit_author: Some("#c5c9c5"),
  danger_fg: Some("#e82424"),
  push_gauge_bg: Some("#2d4f67"),
  push_gauge_fg: Some("#c5c9c5"),
  tag_fg: Some("#c4b28a"),
  branch_fg: Some("#8ea4a2"),
  block_title_focused: Some("#223249"),
  syntax: Some("kanagawa-dragon"),
)
