(
  selected_tab: Some("#ffad66"),
  command_fg: Some("#cccac2"),
  selection_bg: Some("#323843"),
  selection_fg: Some("#cccac2"),
  cmdbar_bg: Some("#1a1f29"),
  disabled_fg: Some("#565b66"),
  diff_line_add: Some("#d5ff80"),
  diff_line_delete: Some("#f28779"),
  diff_file_added: Some("#d5ff80"),
  diff_file_removed: Some("#f28779"),
  diff_file_moved: Some("#ffad66"),
  diff_file_modified: Some("#ffcc77"),
  commit_hash: Some("#dfbfff"),
  commit_time: Some("#73d0ff"),
  commit_author: Some("#cccac2"),
  danger_fg: Some("#f28779"),
  push_gauge_bg: Some("#323843"),
  push_gauge_fg: Some("#cccac2"),
  tag_fg: Some("#ffad66"),
  branch_fg: Some("#73d0ff"),
  block_title_focused: Some("#323843"),
  syntax: Some("ayu_mirage"),
)
