(
  selected_tab: Some("#775599"),
  command_fg: Some("#eeeeee"),
  selection_bg: Some("#333333"),
  selection_fg: Some("#eeeeee"),
  cmdbar_bg: Some("#222222"),
  disabled_fg: Some("#777777"),
  diff_line_add: Some("#66cc33"),
  diff_line_delete: Some("#ee1111"),
  diff_file_added: Some("#66cc33"),
  diff_file_removed: Some("#ee1111"),
  diff_file_moved: Some("#775599"),
  diff_file_modified: Some("#77aaaa"),
  commit_hash: Some("#ee7711"),
  commit_time: Some("#77aaaa"),
  commit_author: Some("#eeeeee"),
  danger_fg: Some("#ee1111"),
  push_gauge_bg: Some("#333333"),
  push_gauge_fg: Some("#eeeeee"),
  tag_fg: Some("#775599"),
  branch_fg: Some("#aacc77"),
  block_title_focused: Some("#111111"),
  syntax: Some("sunset"),
)
