(
  selected_tab: Some("#eeeeee"),
  command_fg: Some("#d6deeb"),
  selection_bg: Some("#2d2c5d"),
  selection_fg: Some("#d6deeb"),
  cmdbar_bg: Some("#112630"),
  disabled_fg: Some("#637777"),
  diff_line_add: Some("#addb67"),
  diff_line_delete: Some("#ff5874"),
  diff_file_added: Some("#addb67"),
  diff_file_removed: Some("#ff5874"),
  diff_file_moved: Some("#eeeeee"),
  diff_file_modified: Some("#82aaff"),
  commit_hash: Some("#d6deeb"),
  commit_time: Some("#82aaff"),
  commit_author: Some("#addb67"),
  danger_fg: Some("#ff5874"),
  push_gauge_bg: Some("#2d2c5d"),
  push_gauge_fg: Some("#d6deeb"),
  tag_fg: Some("#eeeeee"),
  branch_fg: Some("#addb67"),
  block_title_focused: Some("#011627"),
  syntax: Some("night_owl"),
)
