(
  selected_tab: Some("#205ea6"),
  command_fg: Some("#100f0f"),
  selection_bg: Some("#dad8ce"),
  selection_fg: Some("#100f0f"),
  cmdbar_bg: Some("#f2f0e5"),
  disabled_fg: Some("#b7b5ac"),
  diff_line_add: Some("#66800b"),
  diff_line_delete: Some("#af3029"),
  diff_file_added: Some("#66800b"),
  diff_file_removed: Some("#af3029"),
  diff_file_moved: Some("#205ea6"),
  diff_file_modified: Some("#ad8301"),
  commit_hash: Some("#5e409d"),
  commit_time: Some("#205ea6"),
  commit_author: Some("#100f0f"),
  danger_fg: Some("#af3029"),
  push_gauge_bg: Some("#dad8ce"),
  push_gauge_fg: Some("#100f0f"),
  tag_fg: Some("#205ea6"),
  branch_fg: Some("#ad8301"),
  block_title_focused: Some("#100f0f"),
  syntax: Some("flexoki_light"),
)
