(
  selected_tab: Some("#f59762"),
  command_fg: Some("#f2fffc"),
  selection_bg: Some("#545f62"),
  selection_fg: Some("#f2fffc"),
  cmdbar_bg: Some("#545f62"),
  disabled_fg: Some("#6b7678"),
  diff_line_add: Some("#a2e57b"),
  diff_line_delete: Some("#ff6d7e"),
  diff_file_added: Some("#a2e57b"),
  diff_file_removed: Some("#ff6d7e"),
  diff_file_moved: Some("#f59762"),
  diff_file_modified: Some("#ffb270"),
  commit_hash: Some("#ffb270"),
  commit_time: Some("#f2fffc"),
  commit_author: Some("#f2fffc"),
  danger_fg: Some("#ff6d7e"),
  push_gauge_bg: Some("#545f62"),
  push_gauge_fg: Some("#f2fffc"),
  tag_fg: Some("#f59762"),
  branch_fg: Some("#a2e57b"),
  block_title_focused: Some("#ffed72"),
  syntax: Some("monokai_pro_machine"),
)
