(
  selected_tab: Some("#f38518"),
  command_fg: Some("#ffffff"),
  selection_bg: Some("#ffffff"),
  selection_fg: Some("#ffffff"),
  cmdbar_bg: Some("#142743"),
  disabled_fg: Some("#ffffff"),
  diff_line_add: Some("#427a2d"),
  diff_line_delete: Some("#ff5c8d"),
  diff_file_added: Some("#427a2d"),
  diff_file_removed: Some("#ff5c8d"),
  diff_file_moved: Some("#f38518"),
  diff_file_modified: Some("#66a4ff"),
  commit_hash: Some("#6fc3df"),
  commit_time: Some("#ffffff"),
  commit_author: Some("#6fc3df"),
  danger_fg: Some("#b65f5f"),
  push_gauge_bg: Some("#ffffff"),
  push_gauge_fg: Some("#ffffff"),
  tag_fg: Some("#f38518"),
  branch_fg: Some("#4ec9b0"),
  block_title_focused: Some("#000000"),
  syntax: Some("dark_high_contrast"),
)
