(
  selected_tab: Some("#d68482"),
  command_fg: Some("#7b91b3"),
  selection_bg: Some("#f3eae9"),
  selection_fg: Some("#7b91b3"),
  cmdbar_bg: Some("#f3eae9"),
  disabled_fg: Some("#a6b6ce"),
  diff_line_add: Some("#839a53"),
  diff_line_delete: Some("#d74e50"),
  diff_file_added: Some("#839a53"),
  diff_file_removed: Some("#d74e50"),
  diff_file_moved: Some("#d68482"),
  diff_file_modified: Some("#d4a520"),
  commit_hash: Some("#d4a520"),
  commit_time: Some("#839a53"),
  commit_author: Some("#a6b6ce"),
  danger_fg: Some("#d74e50"),
  push_gauge_bg: Some("#f3eae9"),
  push_gauge_fg: Some("#7b91b3"),
  tag_fg: Some("#d68482"),
  branch_fg: Some("#a6b6ce"),
  block_title_focused: Some("#250e07"),
  syntax: Some("ingrid"),
)
