(
  selected_tab: Some("#a0132f"),
  command_fg: Some("#000000"),
  selection_bg: Some("#e0e0e0"),
  selection_fg: Some("#000000"),
  cmdbar_bg: Some("#c8c8c8"),
  disabled_fg: Some("#77492f"),
  diff_line_add: Some("#005000"),
  diff_line_delete: Some("#8f1313"),
  diff_file_added: Some("#005000"),
  diff_file_removed: Some("#8f1313"),
  diff_file_moved: Some("#a0132f"),
  diff_file_modified: Some("#553d00"),
  commit_hash: Some("#0000b0"),
  commit_time: Some("#005e8b"),
  commit_author: Some("#973300"),
  danger_fg: Some("#808000"),
  push_gauge_bg: Some("#e0e0e0"),
  push_gauge_fg: Some("#000000"),
  tag_fg: Some("#a0132f"),
  branch_fg: Some("#005f5f"),
  block_title_focused: Some("#ffffff"),
  syntax: Some("modus_operandi_deuteranopia"),
)
