(
  selected_tab: Some("#dd8a3c"),
  command_fg: Some("#d1d0c5"),
  selection_bg: Some("#e2b714"),
  selection_fg: Some("#d1d0c5"),
  cmdbar_bg: Some("#55585e"),
  disabled_fg: Some("#646669"),
  diff_line_add: Some("#bcd5a8"),
  diff_line_delete: Some("#ca4754"),
  diff_file_added: Some("#bcd5a8"),
  diff_file_removed: Some("#ca4754"),
  diff_file_moved: Some("#dd8a3c"),
  diff_file_modified: Some("#dd8a3c"),
  commit_hash: Some("#be9ec9"),
  commit_time: Some("#b9c2c6"),
  commit_author: Some("#e2b714"),
  danger_fg: Some("#ca4754"),
  push_gauge_bg: Some("#e2b714"),
  push_gauge_fg: Some("#d1d0c5"),
  tag_fg: Some("#dd8a3c"),
  branch_fg: Some("#e2b714"),
  block_title_focused: Some("#d1d0c5"),
  syntax: Some("serika-dark"),
)
