(
  selected_tab: Some("#f92672"),
  command_fg: Some("#f8f8f2"),
  selection_bg: Some("#403d3d"),
  selection_fg: Some("#f8f8f2"),
  cmdbar_bg: Some("#414339"),
  disabled_fg: Some("#7e8e91"),
  diff_line_add: Some("#f8f8f2"),
  diff_line_delete: Some("#960050"),
  diff_file_added: Some("#f8f8f2"),
  diff_file_removed: Some("#960050"),
  diff_file_moved: Some("#f92672"),
  diff_file_modified: Some("#89807d"),
  commit_hash: Some("#f8f8f2"),
  commit_time: Some("#75beff"),
  commit_author: Some("#f8f8f2"),
  danger_fg: Some("#f48771"),
  push_gauge_bg: Some("#403d3d"),
  push_gauge_fg: Some("#f8f8f2"),
  tag_fg: Some("#f92672"),
  branch_fg: Some("#66d9ef"),
  block_title_focused: Some("#a6a6a6"),
  syntax: Some("molokai"),
)
