(
  selected_tab: Some("#ffffff"),
  command_fg: Some("#ffffff"),
  selection_bg: Some("#0d0d0d"),
  selection_fg: Some("#ffffff"),
  cmdbar_bg: Some("#0d0d0d"),
  disabled_fg: Some("#666666"),
  diff_line_add: Some("#ffffff"),
  diff_line_delete: Some("#ffffff"),
  diff_file_added: Some("#ffffff"),
  diff_file_removed: Some("#ffffff"),
  diff_file_moved: Some("#ffffff"),
  diff_file_modified: Some("#ffffff"),
  commit_hash: Some("#ffffff"),
  commit_time: Some("#666666"),
  commit_author: Some("#ffffff"),
  danger_fg: Some("#ffffff"),
  push_gauge_bg: Some("#0d0d0d"),
  push_gauge_fg: Some("#ffffff"),
  tag_fg: Some("#ffffff"),
  branch_fg: Some("#ffffff"),
  block_title_focused: Some("#f2f2f2"),
  syntax: Some("ttox_soft"),
)
