(
  selected_tab: Some("#0077ff"),
  command_fg: Some("#cccccc"),
  selection_bg: Some("#aaaaaa"),
  selection_fg: Some("#cccccc"),
  cmdbar_bg: Some("#111111"),
  disabled_fg: Some("#cc77cc"),
  diff_line_add: Some("#33aa33"),
  diff_line_delete: Some("#bb3333"),
  diff_file_added: Some("#33aa33"),
  diff_file_removed: Some("#bb3333"),
  diff_file_moved: Some("#0077ff"),
  diff_file_modified: Some("#aaaa33"),
  commit_hash: Some("#00dd77"),
  commit_time: Some("#0077ff"),
  commit_author: Some("#cccccc"),
  danger_fg: Some("#ff2200"),
  push_gauge_bg: Some("#aaaaaa"),
  push_gauge_fg: Some("#cccccc"),
  tag_fg: Some("#0077ff"),
  branch_fg: Some("#eedd33"),
  block_title_focused: Some("#111111"),
  syntax: Some("omicron_dark"),
)
