(
  selected_tab: Some("#d85c60"),
  command_fg: Some("#656869"),
  selection_bg: Some("#4a9aa6"),
  selection_fg: Some("#656869"),
  cmdbar_bg: Some("#0e0e0d"),
  disabled_fg: Some("#654642"),
  diff_line_add: Some("#c9d400"),
  diff_line_delete: Some("#ff4000"),
  diff_file_added: Some("#c9d400"),
  diff_file_removed: Some("#ff4000"),
  diff_file_moved: Some("#d85c60"),
  diff_file_modified: Some("#0078bd"),
  commit_hash: Some("#f78c5e"),
  commit_time: Some("#dad7d5"),
  commit_author: Some("#656869"),
  danger_fg: Some("#ff4000"),
  push_gauge_bg: Some("#4a9aa6"),
  push_gauge_fg: Some("#656869"),
  tag_fg: Some("#d85c60"),
  branch_fg: Some("#9bc1bb"),
  block_title_focused: Some("#d4d987"),
  syntax: Some("hex_poison"),
)
