(
  selected_tab: Some("#ffc591"),
  command_fg: Some("#d1d1d1"),
  selection_bg: Some("#323231"),
  selection_fg: Some("#d1d1d1"),
  cmdbar_bg: Some("#2a2a29"),
  disabled_fg: Some("#6a6a69"),
  diff_line_add: Some("#7aae98"),
  diff_line_delete: Some("#ffafa5"),
  diff_file_added: Some("#7aae98"),
  diff_file_removed: Some("#ffafa5"),
  diff_file_moved: Some("#ffc591"),
  diff_file_modified: Some("#94c9b2"),
  commit_hash: Some("#d1d1d1"),
  commit_time: Some("#a6cded"),
  commit_author: Some("#d1d1d1"),
  danger_fg: Some("#ffafa5"),
  push_gauge_bg: Some("#323231"),
  push_gauge_fg: Some("#d1d1d1"),
  tag_fg: Some("#ffc591"),
  branch_fg: Some("#eaeaea"),
  block_title_focused: Some("#d1d1d1"),
  syntax: Some("rasmus"),
)
