(
  selected_tab: Some("#d95362"),
  command_fg: Some("#cebabf"),
  selection_bg: Some("#704144"),
  selection_fg: Some("#cebabf"),
  cmdbar_bg: Some("#d2505f"),
  disabled_fg: Some("#d2505f"),
  diff_line_add: Some("#6db269"),
  diff_line_delete: Some("#d95362"),
  diff_file_added: Some("#6db269"),
  diff_file_removed: Some("#d95362"),
  diff_file_moved: Some("#d95362"),
  diff_file_modified: Some("#ce8b9f"),
  commit_hash: Some("#ff7550"),
  commit_time: Some("#65aba3"),
  commit_author: Some("#cebabf"),
  danger_fg: Some("#eb842b"),
  push_gauge_bg: Some("#704144"),
  push_gauge_fg: Some("#cebabf"),
  tag_fg: Some("#d95362"),
  branch_fg: Some("#65aba3"),
  block_title_focused: Some("#eb842b"),
  syntax: Some("merionette"),
)
