(
  selected_tab: Some("#343a54"),
  command_fg: Some("#434b6c"),
  selection_bg: Some("#d0eaff"),
  selection_fg: Some("#434b6c"),
  cmdbar_bg: Some("#dadde8"),
  disabled_fg: Some("#808080"),
  diff_line_add: Some("#00733b"),
  diff_line_delete: Some("#d90016"),
  diff_file_added: Some("#00733b"),
  diff_file_removed: Some("#d90016"),
  diff_file_moved: Some("#343a54"),
  diff_file_modified: Some("#0073e6"),
  commit_hash: Some("#000080"),
  commit_time: Some("#99ccff"),
  commit_author: Some("#458383"),
  danger_fg: Some("#d90016"),
  push_gauge_bg: Some("#d0eaff"),
  push_gauge_fg: Some("#434b6c"),
  tag_fg: Some("#343a54"),
  branch_fg: Some("#25293c"),
  block_title_focused: Some("#25293c"),
  syntax: Some("jetbrains_cyan_light"),
)
