(
  selected_tab: Some("#e3c0a8"),
  command_fg: Some("#c7b8e0"),
  selection_bg: Some("#2b1c3d"),
  selection_fg: Some("#c7b8e0"),
  cmdbar_bg: Some("#2b1c3d"),
  disabled_fg: Some("#886c9c"),
  diff_line_add: Some("#7fc9ab"),
  diff_line_delete: Some("#d678b5"),
  diff_file_added: Some("#7fc9ab"),
  diff_file_removed: Some("#d678b5"),
  diff_file_moved: Some("#e3c0a8"),
  diff_file_modified: Some("#e3c0a8"),
  commit_hash: Some("#e3c0a8"),
  commit_time: Some("#c7b8e0"),
  commit_author: Some("#c7b8e0"),
  danger_fg: Some("#e3c0a8"),
  push_gauge_bg: Some("#2b1c3d"),
  push_gauge_fg: Some("#c7b8e0"),
  tag_fg: Some("#e3c0a8"),
  branch_fg: Some("#c78dfc"),
  block_title_focused: Some("#3a2a4d"),
  syntax: Some("boo_berry"),
)
