(
  selected_tab: Some("#8cf8f7"),
  command_fg: Some("#e0e2ea"),
  selection_bg: Some("#0d2847"),
  selection_fg: Some("#e0e2ea"),
  cmdbar_bg: Some("#2c2e33"),
  disabled_fg: Some("#9b9ea4"),
  diff_line_add: Some("#b3f6c0"),
  diff_line_delete: Some("#ffc0b9"),
  diff_file_added: Some("#b3f6c0"),
  diff_file_removed: Some("#ffc0b9"),
  diff_file_moved: Some("#8cf8f7"),
  diff_file_modified: Some("#fce094"),
  commit_hash: Some("#e0e2ea"),
  commit_time: Some("#8cf8f7"),
  commit_author: Some("#e0e2ea"),
  danger_fg: Some("#ffc0b9"),
  push_gauge_bg: Some("#0d2847"),
  push_gauge_fg: Some("#e0e2ea"),
  tag_fg: Some("#8cf8f7"),
  branch_fg: Some("#e0e2ea"),
  block_title_focused: Some("#e0e2ea"),
  syntax: Some("nvim-dark"),
)
