(
  selected_tab: Some("#651fff"),
  command_fg: Some("#282c34"),
  selection_bg: Some("#e0e0e0"),
  selection_fg: Some("#282c34"),
  cmdbar_bg: Some("#e0e0e0"),
  disabled_fg: Some("#5c6370"),
  diff_line_add: Some("#24a443"),
  diff_line_delete: Some("#d50000"),
  diff_file_added: Some("#24a443"),
  diff_file_removed: Some("#d50000"),
  diff_file_moved: Some("#651fff"),
  diff_file_modified: Some("#0086c1"),
  commit_hash: Some("#0086c1"),
  commit_time: Some("#0061ff"),
  commit_author: Some("#c2185b"),
  danger_fg: Some("#d50000"),
  push_gauge_bg: Some("#e0e0e0"),
  push_gauge_fg: Some("#282c34"),
  tag_fg: Some("#651fff"),
  branch_fg: Some("#d35400"),
  block_title_focused: Some("#fafafa"),
  syntax: Some("onelight"),
)
