(
  selected_tab: Some("#c90076"),
  command_fg: Some("#d3d3d3"),
  selection_bg: Some("#71797e"),
  selection_fg: Some("#d3d3d3"),
  cmdbar_bg: Some("#303030"),
  disabled_fg: Some("#646f69"),
  diff_line_add: Some("#4f6f52"),
  diff_line_delete: Some("#b80000"),
  diff_file_added: Some("#4f6f52"),
  diff_file_removed: Some("#b80000"),
  diff_file_moved: Some("#c90076"),
  diff_file_modified: Some("#3876bf"),
  commit_hash: Some("#a5c4d4"),
  commit_time: Some("#f1fa8c"),
  commit_author: Some("#f3f2cc"),
  danger_fg: Some("#ff69b4"),
  push_gauge_bg: Some("#71797e"),
  push_gauge_fg: Some("#d3d3d3"),
  tag_fg: Some("#c90076"),
  branch_fg: Some("#efbe4c"),
  block_title_focused: Some("#d3d3d3"),
  syntax: Some("sidra"),
)
