(
  selected_tab: Some("#3a97d4"),
  command_fg: Some("#c1c9d2"),
  selection_bg: Some("#3e4043"),
  selection_fg: Some("#c1c9d2"),
  cmdbar_bg: Some("#602864"),
  disabled_fg: Some("#697386"),
  diff_line_add: Some("#1ea672"),
  diff_line_delete: Some("#ed5f74"),
  diff_file_added: Some("#1ea672"),
  diff_file_removed: Some("#ed5f74"),
  diff_file_moved: Some("#3a97d4"),
  diff_file_modified: Some("#d97917"),
  commit_hash: Some("#ed5f74"),
  commit_time: Some("#c1c9d2"),
  commit_author: Some("#7fd3ed"),
  danger_fg: Some("#ed5f74"),
  push_gauge_bg: Some("#3e4043"),
  push_gauge_fg: Some("#c1c9d2"),
  tag_fg: Some("#3a97d4"),
  branch_fg: Some("#1ea672"),
  block_title_focused: Some("#1ea672"),
  syntax: Some("vim_dark_high_contrast"),
)
