(
  selected_tab: Some("#9c5d27"),
  command_fg: Some("#333333"),
  selection_bg: Some("#c9d0d9"),
  selection_fg: Some("#333333"),
  cmdbar_bg: Some("#705697"),
  disabled_fg: Some("#aaaaaa"),
  diff_line_add: Some("#448c27"),
  diff_line_delete: Some("#c73d20"),
  diff_file_added: Some("#448c27"),
  diff_file_removed: Some("#c73d20"),
  diff_file_moved: Some("#9c5d27"),
  diff_file_modified: Some("#9c5d27"),
  commit_hash: Some("#9c5d27"),
  commit_time: Some("#4b69c6"),
  commit_author: Some("#7a3e9d"),
  danger_fg: Some("#cd3131"),
  push_gauge_bg: Some("#c9d0d9"),
  push_gauge_fg: Some("#333333"),
  tag_fg: Some("#9c5d27"),
  branch_fg: Some("#7a3e9d"),
  block_title_focused: Some("#f5f5f5"),
  syntax: Some("quiet_light"),
)
