(
  selected_tab: Some("#f59762"),
  command_fg: Some("#fcfcfa"),
  selection_bg: Some("#5b595c"),
  selection_fg: Some("#fcfcfa"),
  cmdbar_bg: Some("#5b595c"),
  disabled_fg: Some("#727072"),
  diff_line_add: Some("#a9dc76"),
  diff_line_delete: Some("#ff6188"),
  diff_file_added: Some("#a9dc76"),
  diff_file_removed: Some("#ff6188"),
  diff_file_moved: Some("#f59762"),
  diff_file_modified: Some("#fc9867"),
  commit_hash: Some("#fc9867"),
  commit_time: Some("#fcfcfa"),
  commit_author: Some("#fcfcfa"),
  danger_fg: Some("#ff6188"),
  push_gauge_bg: Some("#5b595c"),
  push_gauge_fg: Some("#fcfcfa"),
  tag_fg: Some("#f59762"),
  branch_fg: Some("#a9dc76"),
  block_title_focused: Some("#ffd866"),
  syntax: Some("monokai_pro"),
)
