(
  selected_tab: Some("#ff8d74"),
  command_fg: Some("#d8d8d8"),
  selection_bg: Some("#4d4d4d"),
  selection_fg: Some("#d8d8d8"),
  cmdbar_bg: Some("#181818"),
  disabled_fg: Some("#6c6c6c"),
  diff_line_add: Some("#6eff69"),
  diff_line_delete: Some("#ff3e3e"),
  diff_file_added: Some("#6eff69"),
  diff_file_removed: Some("#ff3e3e"),
  diff_file_moved: Some("#ff8d74"),
  diff_file_modified: Some("#ffea8a"),
  commit_hash: Some("#b8e3ff"),
  commit_time: Some("#4fd6ff"),
  commit_author: Some("#d8d8d8"),
  danger_fg: Some("#ff3e3e"),
  push_gauge_bg: Some("#4d4d4d"),
  push_gauge_fg: Some("#d8d8d8"),
  tag_fg: Some("#ff8d74"),
  branch_fg: Some("#7bbdff"),
  block_title_focused: Some("#181818"),
  syntax: Some("faded-prism"),
)
