(
  selected_tab: Some("#cfbfaf"),
  command_fg: Some("#dcdccc"),
  selection_bg: Some("#373737"),
  selection_fg: Some("#dcdccc"),
  cmdbar_bg: Some("#313633"),
  disabled_fg: Some("#7f9f7f"),
  diff_line_add: Some("#709080"),
  diff_line_delete: Some("#333333"),
  diff_file_added: Some("#709080"),
  diff_file_removed: Some("#333333"),
  diff_file_moved: Some("#cfbfaf"),
  diff_file_modified: Some("#e37170"),
  commit_hash: Some("#dca3a3"),
  commit_time: Some("#dfdfdf"),
  commit_author: Some("#efdcbc"),
  danger_fg: Some("#e37170"),
  push_gauge_bg: Some("#373737"),
  push_gauge_fg: Some("#dcdccc"),
  tag_fg: Some("#cfbfaf"),
  branch_fg: Some("#dfdfbf"),
  block_title_focused: Some("#000d18"),
  syntax: Some("zenburn"),
)
