(
  selected_tab: Some("#ffd900"),
  command_fg: Some("#ffffff"),
  selection_bg: Some("#3f3f3f"),
  selection_fg: Some("#ffffff"),
  cmdbar_bg: Some("#2a2a2a"),
  disabled_fg: Some("#6b6b6b"),
  diff_line_add: Some("#378b1d"),
  diff_line_delete: Some("#ff0000"),
  diff_file_added: Some("#378b1d"),
  diff_file_removed: Some("#ff0000"),
  diff_file_moved: Some("#ffd900"),
  diff_file_modified: Some("#008dff"),
  commit_hash: Some("#ffffff"),
  commit_time: Some("#0092ff"),
  commit_author: Some("#ffffff"),
  danger_fg: Some("#ff0000"),
  push_gauge_bg: Some("#3f3f3f"),
  push_gauge_fg: Some("#ffffff"),
  tag_fg: Some("#ffd900"),
  branch_fg: Some("#ffffff"),
  block_title_focused: Some("#f4f4f4"),
  syntax: Some("yellowed"),
)
