(
  selected_tab: Some("#9655ff"),
  command_fg: Some("#1e1e2e"),
  selection_bg: Some("#483d8b"),
  selection_fg: Some("#1e1e2e"),
  cmdbar_bg: Some("#0d0d0d"),
  disabled_fg: Some("#5a5570"),
  diff_line_add: Some("#a6da95"),
  diff_line_delete: Some("#e78284"),
  diff_file_added: Some("#a6da95"),
  diff_file_removed: Some("#e78284"),
  diff_file_moved: Some("#9655ff"),
  diff_file_modified: Some("#e5c890"),
  commit_hash: Some("#9f1239"),
  commit_time: Some("#005f87"),
  commit_author: Some("#1e1e2e"),
  danger_fg: Some("#9f1239"),
  push_gauge_bg: Some("#483d8b"),
  push_gauge_fg: Some("#1e1e2e"),
  tag_fg: Some("#9655ff"),
  branch_fg: Some("#6b46c1"),
  block_title_focused: Some("#f7f7ff"),
  syntax: Some("nyxvamp-transparent"),
)
