(
  selected_tab: Some("#cb4b16"),
  command_fg: Some("#586e75"),
  selection_bg: Some("#dddbcc"),
  selection_fg: Some("#586e75"),
  cmdbar_bg: Some("#657b83"),
  disabled_fg: Some("#93a1a1"),
  diff_line_add: Some("#859900"),
  diff_line_delete: Some("#dc322f"),
  diff_file_added: Some("#859900"),
  diff_file_removed: Some("#dc322f"),
  diff_file_moved: Some("#cb4b16"),
  diff_file_modified: Some("#b58900"),
  commit_hash: Some("#2aa198"),
  commit_time: Some("#268bd2"),
  commit_author: Some("#268bd2"),
  danger_fg: Some("#dc322f"),
  push_gauge_bg: Some("#dddbcc"),
  push_gauge_fg: Some("#586e75"),
  tag_fg: Some("#cb4b16"),
  branch_fg: Some("#b58900"),
  block_title_focused: Some("#eee8d5"),
  syntax: Some("solarized_light"),
)
