(
  selected_tab: Some("#808080"),
  command_fg: Some("#a6a6a6"),
  selection_bg: Some("#3e3e3e"),
  selection_fg: Some("#a6a6a6"),
  cmdbar_bg: Some("#1b1b1b"),
  disabled_fg: Some("#808080"),
  diff_line_add: Some("#90b99f"),
  diff_line_delete: Some("#e78284"),
  diff_file_added: Some("#90b99f"),
  diff_file_removed: Some("#e78284"),
  diff_file_moved: Some("#808080"),
  diff_file_modified: Some("#a6a6a6"),
  commit_hash: Some("#a6a6a6"),
  commit_time: Some("#808080"),
  commit_author: Some("#a6a6a6"),
  danger_fg: Some("#e78284"),
  push_gauge_bg: Some("#3e3e3e"),
  push_gauge_fg: Some("#a6a6a6"),
  tag_fg: Some("#808080"),
  branch_fg: Some("#e5c890"),
  block_title_focused: Some("#000000"),
  syntax: Some("earl_grey"),
)
