(
  selected_tab: Some("#47ace8"),
  command_fg: Some("#b1cace"),
  selection_bg: Some("#0d6772"),
  selection_fg: Some("#b1cace"),
  cmdbar_bg: Some("#0d6772"),
  disabled_fg: Some("#5b858b"),
  diff_line_add: Some("#48e9a7"),
  diff_line_delete: Some("#e34e1b"),
  diff_file_added: Some("#48e9a7"),
  diff_file_removed: Some("#e34e1b"),
  diff_file_moved: Some("#47ace8"),
  diff_file_modified: Some("#ffd800"),
  commit_hash: Some("#87efff"),
  commit_time: Some("#47ace8"),
  commit_author: Some("#fff2c5"),
  danger_fg: Some("#e34e1b"),
  push_gauge_bg: Some("#0d6772"),
  push_gauge_fg: Some("#b1cace"),
  tag_fg: Some("#47ace8"),
  branch_fg: Some("#ffa864"),
  block_title_focused: Some("#00262a"),
  syntax: Some("noctis"),
)
