(
  selected_tab: Some("#89ddff"),
  command_fg: Some("#a6accd"),
  selection_bg: Some("#1f2233"),
  selection_fg: Some("#a6accd"),
  cmdbar_bg: Some("#0f111a"),
  disabled_fg: Some("#464b5d"),
  diff_line_add: Some("#c3e88d"),
  diff_line_delete: Some("#f07178"),
  diff_file_added: Some("#c3e88d"),
  diff_file_removed: Some("#f07178"),
  diff_file_moved: Some("#89ddff"),
  diff_file_modified: Some("#82aaff"),
  commit_hash: Some("#ffcb6b"),
  commit_time: Some("#82aaff"),
  commit_author: Some("#a6accd"),
  danger_fg: Some("#ff5370"),
  push_gauge_bg: Some("#1f2233"),
  push_gauge_fg: Some("#a6accd"),
  tag_fg: Some("#89ddff"),
  branch_fg: Some("#c792ea"),
  block_title_focused: Some("#eeffff"),
  syntax: Some("material_darker"),
)
