(
  selected_tab: Some("#bb9af7"),
  command_fg: Some("#dcdcdc"),
  selection_bg: Some("#4b4b5e"),
  selection_fg: Some("#dcdcdc"),
  cmdbar_bg: Some("#3b3b4d"),
  disabled_fg: Some("#7a7a89"),
  diff_line_add: Some("#c0fca0"),
  diff_line_delete: Some("#ff6e7f"),
  diff_file_added: Some("#c0fca0"),
  diff_file_removed: Some("#ff6e7f"),
  diff_file_moved: Some("#bb9af7"),
  diff_file_modified: Some("#f9e2af"),
  commit_hash: Some("#cba6f7"),
  commit_time: Some("#94e2d5"),
  commit_author: Some("#dcdcdc"),
  danger_fg: Some("#ff6e7f"),
  push_gauge_bg: Some("#4b4b5e"),
  push_gauge_fg: Some("#dcdcdc"),
  tag_fg: Some("#bb9af7"),
  branch_fg: Some("#f9e2af"),
  block_title_focused: Some("#2e2e3e"),
  syntax: Some("focus_nova"),
)
