(
  selected_tab: Some("#6d46e3"),
  command_fg: Some("#383e3f"),
  selection_bg: Some("#2e403b"),
  selection_fg: Some("#383e3f"),
  cmdbar_bg: Some("#dfe1dc"),
  disabled_fg: Some("#545c5e"),
  diff_line_add: Some("#6fb593"),
  diff_line_delete: Some("#cd5c60"),
  diff_file_added: Some("#6fb593"),
  diff_file_removed: Some("#cd5c60"),
  diff_file_moved: Some("#6d46e3"),
  diff_file_modified: Some("#dbac66"),
  commit_hash: Some("#ab98b5"),
  commit_time: Some("#80bcb6"),
  commit_author: Some("#6d46e3"),
  danger_fg: Some("#cd5c60"),
  push_gauge_bg: Some("#2e403b"),
  push_gauge_fg: Some("#383e3f"),
  tag_fg: Some("#6d46e3"),
  branch_fg: Some("#cd9575"),
  block_title_focused: Some("#18a318"),
  syntax: Some("kaolin-light"),
)
