(
  selected_tab: Some("#0a3069"),
  command_fg: Some("#57606a"),
  selection_bg: Some("#ddf4ff"),
  selection_fg: Some("#57606a"),
  cmdbar_bg: Some("#eaeef2"),
  disabled_fg: Some("#57606a"),
  diff_line_add: Some("#1a7f37"),
  diff_line_delete: Some("#cf222e"),
  diff_file_added: Some("#1a7f37"),
  diff_file_removed: Some("#cf222e"),
  diff_file_moved: Some("#0a3069"),
  diff_file_modified: Some("#9a6700"),
  commit_hash: Some("#0550ae"),
  commit_time: Some("#0969da"),
  commit_author: Some("#24292f"),
  danger_fg: Some("#cf222e"),
  push_gauge_bg: Some("#ddf4ff"),
  push_gauge_fg: Some("#57606a"),
  tag_fg: Some("#0a3069"),
  branch_fg: Some("#953800"),
  block_title_focused: Some("#24292f"),
  syntax: Some("github_light"),
)
