(
  selected_tab: Some("#b877db"),
  command_fg: Some("#d5d8da"),
  selection_bg: Some("#353747"),
  selection_fg: Some("#d5d8da"),
  cmdbar_bg: Some("#16161c"),
  disabled_fg: Some("#6c6f93"),
  diff_line_add: Some("#27d796"),
  diff_line_delete: Some("#e95678"),
  diff_file_added: Some("#27d796"),
  diff_file_removed: Some("#e95678"),
  diff_file_moved: Some("#b877db"),
  diff_file_modified: Some("#fab795"),
  commit_hash: Some("#b877db"),
  commit_time: Some("#25b2bc"),
  commit_author: Some("#e95678"),
  danger_fg: Some("#e95678"),
  push_gauge_bg: Some("#353747"),
  push_gauge_fg: Some("#d5d8da"),
  tag_fg: Some("#b877db"),
  branch_fg: Some("#fab795"),
  block_title_focused: Some("#27d796"),
  syntax: Some("horizon-dark"),
)
