(
  selected_tab: Some("#b1b695"),
  command_fg: Some("#fecdb2"),
  selection_bg: Some("#4d424b"),
  selection_fg: Some("#fecdb2"),
  cmdbar_bg: Some("#383539"),
  disabled_fg: Some("#6f5d63"),
  diff_line_add: Some("#b1b695"),
  diff_line_delete: Some("#e06b75"),
  diff_file_added: Some("#b1b695"),
  diff_file_removed: Some("#e06b75"),
  diff_file_moved: Some("#b1b695"),
  diff_file_modified: Some("#fecdb2"),
  commit_hash: Some("#b1b695"),
  commit_time: Some("#fecdb2"),
  commit_author: Some("#fecdb2"),
  danger_fg: Some("#e06b75"),
  push_gauge_bg: Some("#4d424b"),
  push_gauge_fg: Some("#fecdb2"),
  tag_fg: Some("#b1b695"),
  branch_fg: Some("#f6b6c9"),
  block_title_focused: Some("#2b292d"),
  syntax: Some("ferra"),
)
