(
  selected_tab: Some("#99ad6a"),
  command_fg: Some("#ebebd8"),
  selection_bg: Some("#292929"),
  selection_fg: Some("#ebebd8"),
  cmdbar_bg: Some("#292929"),
  disabled_fg: Some("#6d6d6d"),
  diff_line_add: Some("#5a9f81"),
  diff_line_delete: Some("#f44747"),
  diff_file_added: Some("#5a9f81"),
  diff_file_removed: Some("#f44747"),
  diff_file_moved: Some("#99ad6a"),
  diff_file_modified: Some("#2197f3"),
  commit_hash: Some("#cf6a4c"),
  commit_time: Some("#2197f3"),
  commit_author: Some("#ebebd8"),
  danger_fg: Some("#902020"),
  push_gauge_bg: Some("#292929"),
  push_gauge_fg: Some("#ebebd8"),
  tag_fg: Some("#99ad6a"),
  branch_fg: Some("#8fbfdc"),
  block_title_focused: Some("#ffffff"),
  syntax: Some("jellybeans"),
)
