(
  selected_tab: Some("#ff79c6"),
  command_fg: Some("#f8f8f2"),
  selection_bg: Some("#363848"),
  selection_fg: Some("#f8f8f2"),
  cmdbar_bg: Some("#222430"),
  disabled_fg: Some("#6272a4"),
  diff_line_add: Some("#50fa7b"),
  diff_line_delete: Some("#ff5555"),
  diff_file_added: Some("#50fa7b"),
  diff_file_removed: Some("#ff5555"),
  diff_file_moved: Some("#ff79c6"),
  diff_file_modified: Some("#ffb86c"),
  commit_hash: Some("#bd93f9"),
  commit_time: Some("#8be9fd"),
  commit_author: Some("#f8f8f2"),
  danger_fg: Some("#ff5555"),
  push_gauge_bg: Some("#363848"),
  push_gauge_fg: Some("#f8f8f2"),
  tag_fg: Some("#ff79c6"),
  branch_fg: Some("#8be9fd"),
  block_title_focused: Some("#282a36"),
  syntax: Some("dracula"),
)
