(
  selected_tab: Some("#fad566"),
  command_fg: Some("#f3f2cc"),
  selection_bg: Some("#404040"),
  selection_fg: Some("#f3f2cc"),
  cmdbar_bg: Some("#323232"),
  disabled_fg: Some("#646f69"),
  diff_line_add: Some("#99be70"),
  diff_line_delete: Some("#f05e48"),
  diff_file_added: Some("#99be70"),
  diff_file_removed: Some("#f05e48"),
  diff_file_moved: Some("#fad566"),
  diff_file_modified: Some("#646f69"),
  commit_hash: Some("#f3f2cc"),
  commit_time: Some("#ffff9f"),
  commit_author: Some("#f3f2cc"),
  danger_fg: Some("#f05e48"),
  push_gauge_bg: Some("#404040"),
  push_gauge_fg: Some("#f3f2cc"),
  tag_fg: Some("#fad566"),
  branch_fg: Some("#f3f2cc"),
  block_title_focused: Some("#212121"),
  syntax: Some("autumn"),
)
