(
  selected_tab: Some("#a277ff"),
  command_fg: Some("#edecee"),
  selection_bg: Some("#3d375e"),
  selection_fg: Some("#edecee"),
  cmdbar_bg: Some("#1f1a27"),
  disabled_fg: Some("#6d6d6d"),
  diff_line_add: Some("#61ffca"),
  diff_line_delete: Some("#ff6767"),
  diff_file_added: Some("#61ffca"),
  diff_file_removed: Some("#ff6767"),
  diff_file_moved: Some("#a277ff"),
  diff_file_modified: Some("#ffca85"),
  commit_hash: Some("#61ffca"),
  commit_time: Some("#82e2ff"),
  commit_author: Some("#edecee"),
  danger_fg: Some("#ff6767"),
  push_gauge_bg: Some("#3d375e"),
  push_gauge_fg: Some("#edecee"),
  tag_fg: Some("#a277ff"),
  branch_fg: Some("#82e2ff"),
  block_title_focused: Some("#15141b"),
  syntax: Some("aura-dark"),
)
