(
  selected_tab: Some("#7fbbb3"),
  command_fg: Some("#d3c6aa"),
  selection_bg: Some("#475258"),
  selection_fg: Some("#d3c6aa"),
  cmdbar_bg: Some("#475258"),
  disabled_fg: Some("#859289"),
  diff_line_add: Some("#a7c080"),
  diff_line_delete: Some("#e67e80"),
  diff_file_added: Some("#a7c080"),
  diff_file_removed: Some("#e67e80"),
  diff_file_moved: Some("#7fbbb3"),
  diff_file_modified: Some("#7fbbb3"),
  commit_hash: Some("#d3c6aa"),
  commit_time: Some("#7fbbb3"),
  commit_author: Some("#d3c6aa"),
  danger_fg: Some("#e67e80"),
  push_gauge_bg: Some("#475258"),
  push_gauge_fg: Some("#d3c6aa"),
  tag_fg: Some("#7fbbb3"),
  branch_fg: Some("#dbbc7f"),
  block_title_focused: Some("#343f44"),
  syntax: Some("everforest_dark"),
)
