(
  selected_tab: Some("#7fdc59"),
  command_fg: Some("#161c23"),
  selection_bg: Some("#c7c7ba"),
  selection_fg: Some("#161c23"),
  cmdbar_bg: Some("#c7c7ba"),
  disabled_fg: Some("#627d9d"),
  diff_line_add: Some("#23a580"),
  diff_line_delete: Some("#dc597f"),
  diff_file_added: Some("#23a580"),
  diff_file_removed: Some("#dc597f"),
  diff_file_moved: Some("#7fdc59"),
  diff_file_modified: Some("#dc7759"),
  commit_hash: Some("#23a580"),
  commit_time: Some("#23a580"),
  commit_author: Some("#232d38"),
  danger_fg: Some("#dc597f"),
  push_gauge_bg: Some("#c7c7ba"),
  push_gauge_fg: Some("#161c23"),
  tag_fg: Some("#7fdc59"),
  branch_fg: Some("#dc597f"),
  block_title_focused: Some("#abb2bf"),
  syntax: Some("bogster_light"),
)
