(
  selected_tab: Some("#81a1c1"),
  command_fg: Some("#d8dee9"),
  selection_bg: Some("#4c566a"),
  selection_fg: Some("#d8dee9"),
  cmdbar_bg: Some("#3b4252"),
  disabled_fg: Some("#616e88"),
  diff_line_add: Some("#a3be8c"),
  diff_line_delete: Some("#bf616a"),
  diff_file_added: Some("#a3be8c"),
  diff_file_removed: Some("#bf616a"),
  diff_file_moved: Some("#81a1c1"),
  diff_file_modified: Some("#ebcb8b"),
  commit_hash: Some("#ebcb8b"),
  commit_time: Some("#88c0d0"),
  commit_author: Some("#d8dee9"),
  danger_fg: Some("#bf616a"),
  push_gauge_bg: Some("#4c566a"),
  push_gauge_fg: Some("#d8dee9"),
  tag_fg: Some("#81a1c1"),
  branch_fg: Some("#8fbcbb"),
  block_title_focused: Some("#d8dee9"),
  syntax: Some("nord-night"),
)
