(
  selected_tab: Some("#f59762"),
  command_fg: Some("#eaf2f1"),
  selection_bg: Some("#535763"),
  selection_fg: Some("#eaf2f1"),
  cmdbar_bg: Some("#535763"),
  disabled_fg: Some("#696d77"),
  diff_line_add: Some("#bad761"),
  diff_line_delete: Some("#ff657a"),
  diff_file_added: Some("#bad761"),
  diff_file_removed: Some("#ff657a"),
  diff_file_moved: Some("#f59762"),
  diff_file_modified: Some("#ff9b5e"),
  commit_hash: Some("#ff9b5e"),
  commit_time: Some("#eaf2f1"),
  commit_author: Some("#eaf2f1"),
  danger_fg: Some("#ff657a"),
  push_gauge_bg: Some("#535763"),
  push_gauge_fg: Some("#eaf2f1"),
  tag_fg: Some("#f59762"),
  branch_fg: Some("#bad761"),
  block_title_focused: Some("#ffd76d"),
  syntax: Some("monokai_pro_octagon"),
)
