(
  selected_tab: Some("#d85f00"),
  command_fg: Some("#c3dbe5"),
  selection_bg: Some("#1e1e33"),
  selection_fg: Some("#c3dbe5"),
  cmdbar_bg: Some("#464a56"),
  disabled_fg: Some("#767676"),
  diff_line_add: Some("#79d836"),
  diff_line_delete: Some("#d83441"),
  diff_file_added: Some("#79d836"),
  diff_file_removed: Some("#d83441"),
  diff_file_moved: Some("#d85f00"),
  diff_file_modified: Some("#3679d8"),
  commit_hash: Some("#8041d8"),
  commit_time: Some("#3679d8"),
  commit_author: Some("#36d8bd"),
  danger_fg: Some("#d83441"),
  push_gauge_bg: Some("#1e1e33"),
  push_gauge_fg: Some("#c3dbe5"),
  tag_fg: Some("#d85f00"),
  branch_fg: Some("#3679d8"),
  block_title_focused: Some("#040408"),
  syntax: Some("doom_acario_dark"),
)
