(
  selected_tab: Some("#ffdd33"),
  command_fg: Some("#e4e4ef"),
  selection_bg: Some("#453d41"),
  selection_fg: Some("#e4e4ef"),
  cmdbar_bg: Some("#282828"),
  disabled_fg: Some("#cc8c3c"),
  diff_line_add: Some("#b8bb26"),
  diff_line_delete: Some("#f43841"),
  diff_file_added: Some("#b8bb26"),
  diff_file_removed: Some("#f43841"),
  diff_file_moved: Some("#ffdd33"),
  diff_file_modified: Some("#fe8019"),
  commit_hash: Some("#ffdd33"),
  commit_time: Some("#8ec07c"),
  commit_author: Some("#e4e4ef"),
  danger_fg: Some("#fb4934"),
  push_gauge_bg: Some("#453d41"),
  push_gauge_fg: Some("#e4e4ef"),
  tag_fg: Some("#ffdd33"),
  branch_fg: Some("#95a99f"),
  block_title_focused: Some("#8ec07c"),
  syntax: Some("gruber-darker"),
)
