(
  selected_tab: Some("#d5b778"),
  command_fg: Some("#57aaf7"),
  selection_bg: Some("#ced0d6"),
  selection_fg: Some("#57aaf7"),
  cmdbar_bg: Some("#2b2d30"),
  disabled_fg: Some("#7a7e85"),
  diff_line_add: Some("#549159"),
  diff_line_delete: Some("#868a91"),
  diff_file_added: Some("#549159"),
  diff_file_removed: Some("#868a91"),
  diff_file_moved: Some("#d5b778"),
  diff_file_modified: Some("#375fad"),
  commit_hash: Some("#cf8e6d"),
  commit_time: Some("#57aaf7"),
  commit_author: Some("#56a8f5"),
  danger_fg: Some("#d64d5b"),
  push_gauge_bg: Some("#ced0d6"),
  push_gauge_fg: Some("#57aaf7"),
  tag_fg: Some("#d5b778"),
  branch_fg: Some("#cf8e6d"),
  block_title_focused: Some("#57aaf7"),
  syntax: Some("jetbrains_dark"),
)
