(
  selected_tab: Some("#72f1b8"),
  command_fg: Some("#ffffff"),
  selection_bg: Some("#001069"),
  selection_fg: Some("#ffffff"),
  cmdbar_bg: Some("#000000"),
  disabled_fg: Some("#848bbd"),
  diff_line_add: Some("#ff8b39"),
  diff_line_delete: Some("#ff5252"),
  diff_file_added: Some("#ff8b39"),
  diff_file_removed: Some("#ff5252"),
  diff_file_moved: Some("#72f1b8"),
  diff_file_modified: Some("#ffab40"),
  commit_hash: Some("#f97e72"),
  commit_time: Some("#40c4ff"),
  commit_author: Some("#f73232"),
  danger_fg: Some("#ff5252"),
  push_gauge_bg: Some("#001069"),
  push_gauge_fg: Some("#ffffff"),
  tag_fg: Some("#72f1b8"),
  branch_fg: Some("#fe4450"),
  block_title_focused: Some("#ffffff"),
  syntax: Some("dark-synthwave"),
)
