(
  selected_tab: Some("#f39c12"),
  command_fg: Some("#d5ced9"),
  selection_bg: Some("#414a5b"),
  selection_fg: Some("#d5ced9"),
  cmdbar_bg: Some("#00b491"),
  disabled_fg: Some("#6e7178"),
  diff_line_add: Some("#14b37d"),
  diff_line_delete: Some("#e25822"),
  diff_file_added: Some("#14b37d"),
  diff_file_removed: Some("#e25822"),
  diff_file_moved: Some("#f39c12"),
  diff_file_modified: Some("#f39c12"),
  commit_hash: Some("#e25822"),
  commit_time: Some("#3a75c4"),
  commit_author: Some("#87d3f8"),
  danger_fg: Some("#e25822"),
  push_gauge_bg: Some("#414a5b"),
  push_gauge_fg: Some("#d5ced9"),
  tag_fg: Some("#f39c12"),
  branch_fg: Some("#f39c12"),
  block_title_focused: Some("#0f111a"),
  syntax: Some("ocean-space"),
)
