(
  selected_tab: Some("#ffe74c"),
  command_fg: Some("#ffe74c"),
  selection_bg: Some("#ffe74c"),
  selection_fg: Some("#ffe74c"),
  cmdbar_bg: Some("#b7afa8"),
  disabled_fg: Some("#8c8681"),
  diff_line_add: Some("#7ddf64"),
  diff_line_delete: Some("#f22b29"),
  diff_file_added: Some("#7ddf64"),
  diff_file_removed: Some("#f22b29"),
  diff_file_moved: Some("#ffe74c"),
  diff_file_modified: Some("#6f44f0"),
  commit_hash: Some("#dab785"),
  commit_time: Some("#ffcf56"),
  commit_author: Some("#dab785"),
  danger_fg: Some("#ff5964"),
  push_gauge_bg: Some("#ffe74c"),
  push_gauge_fg: Some("#ffe74c"),
  tag_fg: Some("#ffe74c"),
  branch_fg: Some("#b784a3"),
  block_title_focused: Some("#ffe74c"),
  syntax: Some("voxed"),
)
