(
  selected_tab: Some("#ffa060"),
  command_fg: Some("#e0e0e0"),
  selection_bg: Some("#303840"),
  selection_fg: Some("#e0e0e0"),
  cmdbar_bg: Some("#1e262e"),
  disabled_fg: Some("#606870"),
  diff_line_add: Some("#b0ff80"),
  diff_line_delete: Some("#ff7070"),
  diff_file_added: Some("#b0ff80"),
  diff_file_removed: Some("#ff7070"),
  diff_file_moved: Some("#ffa060"),
  diff_file_modified: Some("#ffd080"),
  commit_hash: Some("#f0b0ff"),
  commit_time: Some("#80d0ff"),
  commit_author: Some("#e0e0e0"),
  danger_fg: Some("#ff7070"),
  push_gauge_bg: Some("#303840"),
  push_gauge_fg: Some("#e0e0e0"),
  tag_fg: Some("#ffa060"),
  branch_fg: Some("#80d0ff"),
  block_title_focused: Some("#161e26"),
  syntax: Some("acid"),
)
