(
  selected_tab: Some("#e49a44"),
  command_fg: Some("#b4b4b4"),
  selection_bg: Some("#322119"),
  selection_fg: Some("#b4b4b4"),
  cmdbar_bg: Some("#212121"),
  disabled_fg: Some("#737373"),
  diff_line_add: Some("#737373"),
  diff_line_delete: Some("#b14242"),
  diff_file_added: Some("#737373"),
  diff_file_removed: Some("#b14242"),
  diff_file_moved: Some("#e49a44"),
  diff_file_modified: Some("#89492a"),
  commit_hash: Some("#c4693d"),
  commit_time: Some("#a7a7a7"),
  commit_author: Some("#b4b4b4"),
  danger_fg: Some("#c53030"),
  push_gauge_bg: Some("#322119"),
  push_gauge_fg: Some("#b4b4b4"),
  tag_fg: Some("#e49a44"),
  branch_fg: Some("#4a8b8b"),
  block_title_focused: Some("#d5d5d5"),
  syntax: Some("ashen"),
)
