(
  selected_tab: Some("#e69875"),
  command_fg: Some("#dfbf8e"),
  selection_bg: Some("#3c3836"),
  selection_fg: Some("#dfbf8e"),
  cmdbar_bg: Some("#32302f"),
  disabled_fg: Some("#928374"),
  diff_line_add: Some("#a7c080"),
  diff_line_delete: Some("#e67e80"),
  diff_file_added: Some("#a7c080"),
  diff_file_removed: Some("#e67e80"),
  diff_file_moved: Some("#e69875"),
  diff_file_modified: Some("#e69875"),
  commit_hash: Some("#d699b6"),
  commit_time: Some("#83c092"),
  commit_author: Some("#dfbf8e"),
  danger_fg: Some("#e67e80"),
  push_gauge_bg: Some("#3c3836"),
  push_gauge_fg: Some("#dfbf8e"),
  tag_fg: Some("#e69875"),
  branch_fg: Some("#7fbbb3"),
  block_title_focused: Some("#282828"),
  syntax: Some("varua"),
)
