(
  selected_tab: Some("#2ac3de"),
  command_fg: Some("#c0caf5"),
  selection_bg: Some("#283457"),
  selection_fg: Some("#c0caf5"),
  cmdbar_bg: Some("#16161e"),
  disabled_fg: Some("#565f89"),
  diff_line_add: Some("#449dab"),
  diff_line_delete: Some("#914c54"),
  diff_file_added: Some("#449dab"),
  diff_file_removed: Some("#914c54"),
  diff_file_moved: Some("#2ac3de"),
  diff_file_modified: Some("#6183bb"),
  commit_hash: Some("#ff9e64"),
  commit_time: Some("#0db9d7"),
  commit_author: Some("#c0caf5"),
  danger_fg: Some("#db4b4b"),
  push_gauge_bg: Some("#283457"),
  push_gauge_fg: Some("#c0caf5"),
  tag_fg: Some("#2ac3de"),
  branch_fg: Some("#2ac3de"),
  block_title_focused: Some("#1a1b26"),
  syntax: Some("tokyonight"),
)
