(
  selected_tab: Some("#7dcfff"),
  command_fg: Some("#c0caf5"),
  selection_bg: Some("#3b4261"),
  selection_fg: Some("#c0caf5"),
  cmdbar_bg: Some("#292e42"),
  disabled_fg: Some("#565f89"),
  diff_line_add: Some("#9ece6a"),
  diff_line_delete: Some("#f7768e"),
  diff_file_added: Some("#9ece6a"),
  diff_file_removed: Some("#f7768e"),
  diff_file_moved: Some("#7dcfff"),
  diff_file_modified: Some("#e0af68"),
  commit_hash: Some("#ff9e64"),
  commit_time: Some("#7dcfff"),
  commit_author: Some("#7aa2f7"),
  danger_fg: Some("#f7768e"),
  push_gauge_bg: Some("#3b4261"),
  push_gauge_fg: Some("#c0caf5"),
  tag_fg: Some("#7dcfff"),
  branch_fg: Some("#e0af68"),
  block_title_focused: Some("#c0caf5"),
  syntax: Some("minimal"),
)
