(
  selected_tab: Some("#f39660"),
  command_fg: Some("#e2e2e3"),
  selection_bg: Some("#444852"),
  selection_fg: Some("#e2e2e3"),
  cmdbar_bg: Some("#3b3e48"),
  disabled_fg: Some("#7f8490"),
  diff_line_add: Some("#9ed072"),
  diff_line_delete: Some("#fc5d7c"),
  diff_file_added: Some("#9ed072"),
  diff_file_removed: Some("#fc5d7c"),
  diff_file_moved: Some("#f39660"),
  diff_file_modified: Some("#76cce0"),
  commit_hash: Some("#e2e2e3"),
  commit_time: Some("#9ed072"),
  commit_author: Some("#e2e2e3"),
  danger_fg: Some("#fc5d7c"),
  push_gauge_bg: Some("#444852"),
  push_gauge_fg: Some("#e2e2e3"),
  tag_fg: Some("#f39660"),
  branch_fg: Some("#76cce0"),
  block_title_focused: Some("#9ed072"),
  syntax: Some("sonokai"),
)
