(
  selected_tab: Some("#ff7f86"),
  command_fg: Some("#ffffff"),
  selection_bg: Some("#303030"),
  selection_fg: Some("#ffffff"),
  cmdbar_bg: Some("#505050"),
  disabled_fg: Some("#d8af7a"),
  diff_line_add: Some("#a0e0a0"),
  diff_line_delete: Some("#ffbfbf"),
  diff_file_added: Some("#a0e0a0"),
  diff_file_removed: Some("#ffbfbf"),
  diff_file_moved: Some("#ff7f86"),
  diff_file_modified: Some("#efef80"),
  commit_hash: Some("#00bcff"),
  commit_time: Some("#00d3d0"),
  commit_author: Some("#ffa00f"),
  danger_fg: Some("#efef00"),
  push_gauge_bg: Some("#303030"),
  push_gauge_fg: Some("#ffffff"),
  tag_fg: Some("#ff7f86"),
  branch_fg: Some("#6ae4b9"),
  block_title_focused: Some("#000000"),
  syntax: Some("modus_vivendi_deuteranopia"),
)
