(
  selected_tab: Some("#81be83"),
  command_fg: Some("#dadada"),
  selection_bg: Some("#4c1785"),
  selection_fg: Some("#dadada"),
  cmdbar_bg: Some("#2c5484"),
  disabled_fg: Some("#838a97"),
  diff_line_add: Some("#080d15"),
  diff_line_delete: Some("#fa7970"),
  diff_file_added: Some("#080d15"),
  diff_file_removed: Some("#fa7970"),
  diff_file_moved: Some("#81be83"),
  diff_file_modified: Some("#987654"),
  commit_hash: Some("#45b1e8"),
  commit_time: Some("#f3f4f6"),
  commit_author: Some("#ff9000"),
  danger_fg: Some("#f3f4f6"),
  push_gauge_bg: Some("#4c1785"),
  push_gauge_fg: Some("#dadada"),
  tag_fg: Some("#81be83"),
  branch_fg: Some("#dadada"),
  block_title_focused: Some("#6eb0ff"),
  syntax: Some("ao"),
)
