(
  selected_tab: Some("#ff9500"),
  command_fg: Some("#dedede"),
  selection_bg: Some("#8deef9"),
  selection_fg: Some("#dedede"),
  cmdbar_bg: Some("#4c4643"),
  disabled_fg: Some("#a0b4a7"),
  diff_line_add: Some("#4dd44d"),
  diff_line_delete: Some("#dd4d4d"),
  diff_file_added: Some("#4dd44d"),
  diff_file_removed: Some("#dd4d4d"),
  diff_file_moved: Some("#ff9500"),
  diff_file_modified: Some("#4d4ddd"),
  commit_hash: Some("#ddffdd"),
  commit_time: Some("#ffcc00"),
  commit_author: Some("#dedede"),
  danger_fg: Some("#ff2200"),
  push_gauge_bg: Some("#8deef9"),
  push_gauge_fg: Some("#dedede"),
  tag_fg: Some("#ff9500"),
  branch_fg: Some("#f78c6c"),
  block_title_focused: Some("#444444"),
  syntax: Some("pop-dark"),
)
