(
  selected_tab: Some("#0066aa"),
  command_fg: Some("#333333"),
  selection_bg: Some("#555555"),
  selection_fg: Some("#333333"),
  cmdbar_bg: Some("#dddddd"),
  disabled_fg: Some("#770077"),
  diff_line_add: Some("#007700"),
  diff_line_delete: Some("#880000"),
  diff_file_added: Some("#007700"),
  diff_file_removed: Some("#880000"),
  diff_file_moved: Some("#0066aa"),
  diff_file_modified: Some("#777700"),
  commit_hash: Some("#009933"),
  commit_time: Some("#0066aa"),
  commit_author: Some("#333333"),
  danger_fg: Some("#ff0000"),
  push_gauge_bg: Some("#555555"),
  push_gauge_fg: Some("#333333"),
  tag_fg: Some("#0066aa"),
  branch_fg: Some("#bbaa00"),
  block_title_focused: Some("#eeeeee"),
  syntax: Some("omicron_light"),
)
