(
  selected_tab: Some("#c69f2a"),
  command_fg: Some("#1a1512"),
  selection_bg: Some("#e5dfd0"),
  selection_fg: Some("#1a1512"),
  cmdbar_bg: Some("#f2edde"),
  disabled_fg: Some("#b2a899"),
  diff_line_add: Some("#93ae42"),
  diff_line_delete: Some("#c6372a"),
  diff_file_added: Some("#93ae42"),
  diff_file_removed: Some("#c6372a"),
  diff_file_moved: Some("#c69f2a"),
  diff_file_modified: Some("#c69f2a"),
  commit_hash: Some("#3d3228"),
  commit_time: Some("#427bae"),
  commit_author: Some("#3d3228"),
  danger_fg: Some("#c6372a"),
  push_gauge_bg: Some("#e5dfd0"),
  push_gauge_fg: Some("#1a1512"),
  tag_fg: Some("#c69f2a"),
  branch_fg: Some("#60a848"),
  block_title_focused: Some("#fffcef"),
  syntax: Some("flynt_light"),
)
