(
  selected_tab: Some("#f92672"),
  command_fg: Some("#f8f8f2"),
  selection_bg: Some("#878b91"),
  selection_fg: Some("#f8f8f2"),
  cmdbar_bg: Some("#414339"),
  disabled_fg: Some("#88846f"),
  diff_line_add: Some("#a6e22e"),
  diff_line_delete: Some("#f92672"),
  diff_file_added: Some("#a6e22e"),
  diff_file_removed: Some("#f92672"),
  diff_file_moved: Some("#f92672"),
  diff_file_modified: Some("#fd971f"),
  commit_hash: Some("#f8f8f2"),
  commit_time: Some("#75beff"),
  commit_author: Some("#f8f8f2"),
  danger_fg: Some("#f48771"),
  push_gauge_bg: Some("#878b91"),
  push_gauge_fg: Some("#f8f8f2"),
  tag_fg: Some("#f92672"),
  branch_fg: Some("#66d9ef"),
  block_title_focused: Some("#a6a6a6"),
  syntax: Some("monokai_aqua"),
)
