(
  selected_tab: Some("#fa8d3e"),
  command_fg: Some("#5c6166"),
  selection_bg: Some("#d8d8d7"),
  selection_fg: Some("#5c6166"),
  cmdbar_bg: Some("#e7eaed"),
  disabled_fg: Some("#828c9a"),
  diff_line_add: Some("#86b300"),
  diff_line_delete: Some("#f07171"),
  diff_file_added: Some("#86b300"),
  diff_file_removed: Some("#f07171"),
  diff_file_moved: Some("#fa8d3e"),
  diff_file_modified: Some("#ffaa33"),
  commit_hash: Some("#a37acc"),
  commit_time: Some("#399ee6"),
  commit_author: Some("#5c6166"),
  danger_fg: Some("#f07171"),
  push_gauge_bg: Some("#d8d8d7"),
  push_gauge_fg: Some("#5c6166"),
  tag_fg: Some("#fa8d3e"),
  branch_fg: Some("#399ee6"),
  block_title_focused: Some("#d8d8d7"),
  syntax: Some("ayu_light"),
)
