(
  selected_tab: Some("#26a1a2"),
  command_fg: Some("#3d3846"),
  selection_bg: Some("#d3e4f9"),
  selection_fg: Some("#3d3846"),
  cmdbar_bg: Some("#deddda"),
  disabled_fg: Some("#b0afac"),
  diff_line_add: Some("#218787"),
  diff_line_delete: Some("#e01b24"),
  diff_file_added: Some("#218787"),
  diff_file_removed: Some("#e01b24"),
  diff_file_moved: Some("#26a1a2"),
  diff_file_modified: Some("#c64600"),
  commit_hash: Some("#4e57ba"),
  commit_time: Some("#813d9c"),
  commit_author: Some("#241f31"),
  danger_fg: Some("#a51d2d"),
  push_gauge_bg: Some("#d3e4f9"),
  push_gauge_fg: Some("#3d3846"),
  tag_fg: Some("#26a1a2"),
  branch_fg: Some("#26a1a2"),
  block_title_focused: Some("#fcfcfc"),
  syntax: Some("adwaita-light"),
)
