(
  selected_tab: Some("#ff9647"),
  command_fg: Some("#fefeff"),
  selection_bg: Some("#1b232e"),
  selection_fg: Some("#fefeff"),
  cmdbar_bg: Some("#2a3a54"),
  disabled_fg: Some("#4e6a97"),
  diff_line_add: Some("#5b7753"),
  diff_line_delete: Some("#ff5d5d"),
  diff_file_added: Some("#5b7753"),
  diff_file_removed: Some("#ff5d5d"),
  diff_file_moved: Some("#ff9647"),
  diff_file_modified: Some("#ff9647"),
  commit_hash: Some("#ff1e6d"),
  commit_time: Some("#5db1b1"),
  commit_author: Some("#fefeff"),
  danger_fg: Some("#ff5d5d"),
  push_gauge_bg: Some("#1b232e"),
  push_gauge_fg: Some("#fefeff"),
  tag_fg: Some("#ff9647"),
  branch_fg: Some("#9983d7"),
  block_title_focused: Some("#191d24"),
  syntax: Some("ashokai_brahn"),
)
