(
  selected_tab: Some("#7a88ff"),
  command_fg: Some("#00d2f7"),
  selection_bg: Some("#7b52c7"),
  selection_fg: Some("#00d2f7"),
  cmdbar_bg: Some("#1c0c28"),
  disabled_fg: Some("#5c3a9e"),
  diff_line_add: Some("#00d974"),
  diff_line_delete: Some("#eb3e5e"),
  diff_file_added: Some("#00d974"),
  diff_file_removed: Some("#eb3e5e"),
  diff_file_moved: Some("#7a88ff"),
  diff_file_modified: Some("#8aa3fe"),
  commit_hash: Some("#8aa3fe"),
  commit_time: Some("#00ddff"),
  commit_author: Some("#7640cc"),
  danger_fg: Some("#a600ff"),
  push_gauge_bg: Some("#7b52c7"),
  push_gauge_fg: Some("#00d2f7"),
  tag_fg: Some("#7a88ff"),
  branch_fg: Some("#8aa3fe"),
  block_title_focused: Some("#000000"),
  syntax: Some("ataraxia"),
)
