(
  selected_tab: Some("#ae8c7e"),
  command_fg: Some("#b4b4b4"),
  selection_bg: Some("#2a2a2a"),
  selection_fg: Some("#b4b4b4"),
  cmdbar_bg: Some("#2a2a2a"),
  disabled_fg: Some("#3b9eff"),
  diff_line_add: Some("#191919"),
  diff_line_delete: Some("#191919"),
  diff_file_added: Some("#191919"),
  diff_file_removed: Some("#191919"),
  diff_file_moved: Some("#ae8c7e"),
  diff_file_modified: Some("#191919"),
  commit_hash: Some("#9a5cd0"),
  commit_time: Some("#3b9eff"),
  commit_author: Some("#7b7b7b"),
  danger_fg: Some("#ec5d5e"),
  push_gauge_bg: Some("#2a2a2a"),
  push_gauge_fg: Some("#b4b4b4"),
  tag_fg: Some("#ae8c7e"),
  branch_fg: Some("#eeeeee"),
  block_title_focused: Some("#191919"),
  syntax: Some("yo_berry"),
)
