(
  selected_tab: Some("#5e81ac"),
  command_fg: Some("#2e3440"),
  selection_bg: Some("#8fbcbb"),
  selection_fg: Some("#2e3440"),
  cmdbar_bg: Some("#d8dee9"),
  disabled_fg: Some("#8fbcbb"),
  diff_line_add: Some("#a3be8c"),
  diff_line_delete: Some("#bf616a"),
  diff_file_added: Some("#a3be8c"),
  diff_file_removed: Some("#bf616a"),
  diff_file_moved: Some("#5e81ac"),
  diff_file_modified: Some("#ebcb8b"),
  commit_hash: Some("#b48ead"),
  commit_time: Some("#ebcb8b"),
  commit_author: Some("#2e3440"),
  danger_fg: Some("#bf616a"),
  push_gauge_bg: Some("#8fbcbb"),
  push_gauge_fg: Some("#2e3440"),
  tag_fg: Some("#5e81ac"),
  branch_fg: Some("#5e81ac"),
  block_title_focused: Some("#eceff4"),
  syntax: Some("nord_light"),
)
