(
  selected_tab: Some("#6c782e"),
  command_fg: Some("#654735"),
  selection_bg: Some("#eee0b7"),
  selection_fg: Some("#654735"),
  cmdbar_bg: Some("#f4e8be"),
  disabled_fg: Some("#928374"),
  diff_line_add: Some("#6c782e"),
  diff_line_delete: Some("#c14a4a"),
  diff_file_added: Some("#6c782e"),
  diff_file_removed: Some("#c14a4a"),
  diff_file_moved: Some("#6c782e"),
  diff_file_modified: Some("#45707a"),
  commit_hash: Some("#654735"),
  commit_time: Some("#45707a"),
  commit_author: Some("#654735"),
  danger_fg: Some("#c14a4a"),
  push_gauge_bg: Some("#eee0b7"),
  push_gauge_fg: Some("#654735"),
  tag_fg: Some("#6c782e"),
  branch_fg: Some("#b47109"),
  block_title_focused: Some("#fbf1c7"),
  syntax: Some("gruvbox_material_light_soft"),
)
