(
  selected_tab: Some("#2dd4da"),
  command_fg: Some("#e6efff"),
  selection_bg: Some("#e455ff"),
  selection_fg: Some("#e6efff"),
  cmdbar_bg: Some("#21252b"),
  disabled_fg: Some("#c5d1e4"),
  diff_line_add: Some("#6ee76e"),
  diff_line_delete: Some("#ff6ba7"),
  diff_file_added: Some("#6ee76e"),
  diff_file_removed: Some("#ff6ba7"),
  diff_file_moved: Some("#2dd4da"),
  diff_file_modified: Some("#3fb8ff"),
  commit_hash: Some("#ff9f40"),
  commit_time: Some("#3fb8ff"),
  commit_author: Some("#e6efff"),
  danger_fg: Some("#ff6ba7"),
  push_gauge_bg: Some("#e455ff"),
  push_gauge_fg: Some("#e6efff"),
  tag_fg: Some("#2dd4da"),
  branch_fg: Some("#ffd93d"),
  block_title_focused: Some("#282c34"),
  syntax: Some("onedark_vibrant"),
)
