(
  selected_tab: Some("#57320f"),
  command_fg: Some("#323437"),
  selection_bg: Some("#aaaeb3"),
  selection_fg: Some("#323437"),
  cmdbar_bg: Some("#797e86"),
  disabled_fg: Some("#646669"),
  diff_line_add: Some("#86b365"),
  diff_line_delete: Some("#da3333"),
  diff_file_added: Some("#86b365"),
  diff_file_removed: Some("#da3333"),
  diff_file_moved: Some("#57320f"),
  diff_file_modified: Some("#6a89af"),
  commit_hash: Some("#5a4066"),
  commit_time: Some("#455054"),
  commit_author: Some("#9a7d0e"),
  danger_fg: Some("#da3333"),
  push_gauge_bg: Some("#aaaeb3"),
  push_gauge_fg: Some("#323437"),
  tag_fg: Some("#57320f"),
  branch_fg: Some("#9a7d0e"),
  block_title_focused: Some("#d1d0c5"),
  syntax: Some("serika-light"),
)
