(
  selected_tab: Some("#861657"),
  command_fg: Some("#181825"),
  selection_bg: Some("#b7c5d8"),
  selection_fg: Some("#181825"),
  cmdbar_bg: Some("#eae3d7"),
  disabled_fg: Some("#8f909c"),
  diff_line_add: Some("#2e8b57"),
  diff_line_delete: Some("#e82424"),
  diff_file_added: Some("#2e8b57"),
  diff_file_removed: Some("#e82424"),
  diff_file_moved: Some("#861657"),
  diff_file_modified: Some("#ff8800"),
  commit_hash: Some("#a34100"),
  commit_time: Some("#223249"),
  commit_author: Some("#181825"),
  danger_fg: Some("#e82424"),
  push_gauge_bg: Some("#b7c5d8"),
  push_gauge_fg: Some("#181825"),
  tag_fg: Some("#861657"),
  branch_fg: Some("#006a6a"),
  block_title_focused: Some("#0d267d"),
  syntax: Some("kanagawa-lotus"),
)
