(
  selected_tab: Some("#9587dd"),
  command_fg: Some("#adadb9"),
  selection_bg: Some("#2e403b"),
  selection_fg: Some("#adadb9"),
  cmdbar_bg: Some("#2e2a29"),
  disabled_fg: Some("#545c5e"),
  diff_line_add: Some("#6fb593"),
  diff_line_delete: Some("#cd5c60"),
  diff_file_added: Some("#6fb593"),
  diff_file_removed: Some("#cd5c60"),
  diff_file_moved: Some("#9587dd"),
  diff_file_modified: Some("#eed891"),
  commit_hash: Some("#ab98b5"),
  commit_time: Some("#80bcb6"),
  commit_author: Some("#ef6787"),
  danger_fg: Some("#cd5c60"),
  push_gauge_bg: Some("#2e403b"),
  push_gauge_fg: Some("#adadb9"),
  tag_fg: Some("#9587dd"),
  branch_fg: Some("#cd9575"),
  block_title_focused: Some("#ee7042"),
  syntax: Some("kaolin-valley-dark"),
)
