(
  selected_tab: Some("#aeafb0"),
  command_fg: Some("#cdcecf"),
  selection_bg: Some("#39506d"),
  selection_fg: Some("#cdcecf"),
  cmdbar_bg: Some("#131a24"),
  disabled_fg: Some("#738091"),
  diff_line_add: Some("#81b29a"),
  diff_line_delete: Some("#c94f6d"),
  diff_file_added: Some("#81b29a"),
  diff_file_removed: Some("#c94f6d"),
  diff_file_moved: Some("#aeafb0"),
  diff_file_modified: Some("#719cd6"),
  commit_hash: Some("#f6b079"),
  commit_time: Some("#719cd6"),
  commit_author: Some("#dfdfe0"),
  danger_fg: Some("#c94f6d"),
  push_gauge_bg: Some("#39506d"),
  push_gauge_fg: Some("#cdcecf"),
  tag_fg: Some("#aeafb0"),
  branch_fg: Some("#dbc074"),
  block_title_focused: Some("#192330"),
  syntax: Some("nightfox"),
)
