(
  selected_tab: Some("#75beff"),
  command_fg: Some("#d4d4d4"),
  selection_bg: Some("#3a3d41"),
  selection_fg: Some("#d4d4d4"),
  cmdbar_bg: Some("#007acc"),
  disabled_fg: Some("#6a9955"),
  diff_line_add: Some("#487e02"),
  diff_line_delete: Some("#f14c4c"),
  diff_file_added: Some("#487e02"),
  diff_file_removed: Some("#f14c4c"),
  diff_file_moved: Some("#75beff"),
  diff_file_modified: Some("#1b81a8"),
  commit_hash: Some("#4fc1ff"),
  commit_time: Some("#75beff"),
  commit_author: Some("#9cdcfe"),
  danger_fg: Some("#ff1212"),
  push_gauge_bg: Some("#3a3d41"),
  push_gauge_fg: Some("#d4d4d4"),
  tag_fg: Some("#75beff"),
  branch_fg: Some("#4ec9b0"),
  block_title_focused: Some("#a6a6a6"),
  syntax: Some("dark_plus"),
)
