(
  selected_tab: Some("#f92672"),
  command_fg: Some("#d5ced9"),
  selection_bg: Some("#3d4352"),
  selection_fg: Some("#d5ced9"),
  cmdbar_bg: Some("#23262e"),
  disabled_fg: Some("#a0a1a7"),
  diff_line_add: Some("#96e072"),
  diff_line_delete: Some("#fc644d"),
  diff_file_added: Some("#96e072"),
  diff_file_removed: Some("#fc644d"),
  diff_file_moved: Some("#f92672"),
  diff_file_modified: Some("#ffe66d"),
  commit_hash: Some("#ee5d43"),
  commit_time: Some("#00b0ff"),
  commit_author: Some("#00e8c6"),
  danger_fg: Some("#fc644d"),
  push_gauge_bg: Some("#3d4352"),
  push_gauge_fg: Some("#d5ced9"),
  tag_fg: Some("#f92672"),
  branch_fg: Some("#ffe66d"),
  block_title_focused: Some("#23262e"),
  syntax: Some("andromeda"),
)
