(
  selected_tab: Some("#8464c6"),
  command_fg: Some("#bdbdbd"),
  selection_bg: Some("#3d375e"),
  selection_fg: Some("#bdbdbd"),
  cmdbar_bg: Some("#1f1a27"),
  disabled_fg: Some("#6d6d6d"),
  diff_line_add: Some("#54c59f"),
  diff_line_delete: Some("#c55858"),
  diff_file_added: Some("#54c59f"),
  diff_file_removed: Some("#c55858"),
  diff_file_moved: Some("#8464c6"),
  diff_file_modified: Some("#c7a06f"),
  commit_hash: Some("#54c59f"),
  commit_time: Some("#6cb2c7"),
  commit_author: Some("#bdbdbd"),
  danger_fg: Some("#c55858"),
  push_gauge_bg: Some("#3d375e"),
  push_gauge_fg: Some("#bdbdbd"),
  tag_fg: Some("#8464c6"),
  branch_fg: Some("#6cb2c7"),
  block_title_focused: Some("#15141b"),
  syntax: Some("aura-dark-soft"),
)
