(
  selected_tab: Some("#ff8f40"),
  command_fg: Some("#bfbdb6"),
  selection_bg: Some("#2d3640"),
  selection_fg: Some("#bfbdb6"),
  cmdbar_bg: Some("#131721"),
  disabled_fg: Some("#5c6773"),
  diff_line_add: Some("#aad94c"),
  diff_line_delete: Some("#f07178"),
  diff_file_added: Some("#aad94c"),
  diff_file_removed: Some("#f07178"),
  diff_file_moved: Some("#ff8f40"),
  diff_file_modified: Some("#e6b450"),
  commit_hash: Some("#d2a6ff"),
  commit_time: Some("#59c2ff"),
  commit_author: Some("#bfbdb6"),
  danger_fg: Some("#f07178"),
  push_gauge_bg: Some("#2d3640"),
  push_gauge_fg: Some("#bfbdb6"),
  tag_fg: Some("#ff8f40"),
  branch_fg: Some("#59c2ff"),
  block_title_focused: Some("#2d3640"),
  syntax: Some("ayu_dark"),
)
