(
  selected_tab: Some("#c8ccd4"),
  command_fg: Some("#c8ccd4"),
  selection_bg: Some("#3b4048"),
  selection_fg: Some("#c8ccd4"),
  cmdbar_bg: Some("#2f343e"),
  disabled_fg: Some("#5d636f"),
  diff_line_add: Some("#a1c181"),
  diff_line_delete: Some("#d07277"),
  diff_file_added: Some("#a1c181"),
  diff_file_removed: Some("#d07277"),
  diff_file_moved: Some("#c8ccd4"),
  diff_file_modified: Some("#dfc184"),
  commit_hash: Some("#dfc184"),
  commit_time: Some("#73ade9"),
  commit_author: Some("#73ade9"),
  danger_fg: Some("#d07277"),
  push_gauge_bg: Some("#3b4048"),
  push_gauge_fg: Some("#c8ccd4"),
  tag_fg: Some("#c8ccd4"),
  branch_fg: Some("#6eb4bf"),
  block_title_focused: Some("#c8ccd4"),
  syntax: Some("zed_onedark"),
)
