(
  selected_tab: Some("#c69f2a"),
  command_fg: Some("#f5edd8"),
  selection_bg: Some("#262220"),
  selection_fg: Some("#f5edd8"),
  cmdbar_bg: Some("#1c1916"),
  disabled_fg: Some("#584f45"),
  diff_line_add: Some("#93ae42"),
  diff_line_delete: Some("#c6372a"),
  diff_file_added: Some("#93ae42"),
  diff_file_removed: Some("#c6372a"),
  diff_file_moved: Some("#c69f2a"),
  diff_file_modified: Some("#c69f2a"),
  commit_hash: Some("#d8cebc"),
  commit_time: Some("#427bae"),
  commit_author: Some("#d8cebc"),
  danger_fg: Some("#c6372a"),
  push_gauge_bg: Some("#262220"),
  push_gauge_fg: Some("#f5edd8"),
  tag_fg: Some("#c69f2a"),
  branch_fg: Some("#60a848"),
  block_title_focused: Some("#100e0c"),
  syntax: Some("flynt_dark"),
)
