(
  selected_tab: Some("#61a3e6"),
  command_fg: Some("#9e9e9e"),
  selection_bg: Some("#3e4044"),
  selection_fg: Some("#9e9e9e"),
  cmdbar_bg: Some("#9e9e9e"),
  disabled_fg: Some("#636363"),
  diff_line_add: Some("#50b584"),
  diff_line_delete: Some("#df7f78"),
  diff_file_added: Some("#50b584"),
  diff_file_removed: Some("#df7f78"),
  diff_file_moved: Some("#61a3e6"),
  diff_file_modified: Some("#00b3c2"),
  commit_hash: Some("#a48fe1"),
  commit_time: Some("#9e9e9e"),
  commit_author: Some("#9e9e9e"),
  danger_fg: Some("#df7f78"),
  push_gauge_bg: Some("#3e4044"),
  push_gauge_fg: Some("#9e9e9e"),
  tag_fg: Some("#61a3e6"),
  branch_fg: Some("#50b584"),
  block_title_focused: Some("#61a3e6"),
  syntax: Some("penumbra-"),
)
