(
  selected_tab: Some("#ebbcba"),
  command_fg: Some("#e0def4"),
  selection_bg: Some("#26233a"),
  selection_fg: Some("#e0def4"),
  cmdbar_bg: Some("#1f1d2e"),
  disabled_fg: Some("#6e6a86"),
  diff_line_add: Some("#9ccfd8"),
  diff_line_delete: Some("#eb6f92"),
  diff_file_added: Some("#9ccfd8"),
  diff_file_removed: Some("#eb6f92"),
  diff_file_moved: Some("#ebbcba"),
  diff_file_modified: Some("#524f67"),
  commit_hash: Some("#9ccfd8"),
  commit_time: Some("#9ccfd8"),
  commit_author: Some("#e0def4"),
  danger_fg: Some("#eb6f92"),
  push_gauge_bg: Some("#26233a"),
  push_gauge_fg: Some("#e0def4"),
  tag_fg: Some("#ebbcba"),
  branch_fg: Some("#9ccfd8"),
  block_title_focused: Some("#e0def4"),
  syntax: Some("rose_pine_dawn"),
)
