(
  selected_tab: Some("#e5c890"),
  command_fg: Some("#c9c7cd"),
  selection_bg: Some("#3e3e43"),
  selection_fg: Some("#c9c7cd"),
  cmdbar_bg: Some("#1b1b1d"),
  disabled_fg: Some("#808080"),
  diff_line_add: Some("#9dc6ac"),
  diff_line_delete: Some("#e78284"),
  diff_file_added: Some("#9dc6ac"),
  diff_file_removed: Some("#e78284"),
  diff_file_moved: Some("#e5c890"),
  diff_file_modified: Some("#b9aeda"),
  commit_hash: Some("#8eb6f5"),
  commit_time: Some("#b9aeda"),
  commit_author: Some("#c9c7cd"),
  danger_fg: Some("#fca5a5"),
  push_gauge_bg: Some("#3e3e43"),
  push_gauge_fg: Some("#c9c7cd"),
  tag_fg: Some("#e5c890"),
  branch_fg: Some("#b9aeda"),
  block_title_focused: Some("#0f1014"),
  syntax: Some("amberwood"),
)
