(
  selected_tab: Some("#ef7e7e"),
  command_fg: Some("#dadada"),
  selection_bg: Some("#232a2d"),
  selection_fg: Some("#dadada"),
  cmdbar_bg: Some("#141b1e"),
  disabled_fg: Some("#404749"),
  diff_line_add: Some("#67b0e8"),
  diff_line_delete: Some("#e57474"),
  diff_file_added: Some("#67b0e8"),
  diff_file_removed: Some("#e57474"),
  diff_file_moved: Some("#ef7e7e"),
  diff_file_modified: Some("#c47fd5"),
  commit_hash: Some("#6cbfbf"),
  commit_time: Some("#67b0e8"),
  commit_author: Some("#b3b9b8"),
  danger_fg: Some("#e57474"),
  push_gauge_bg: Some("#232a2d"),
  push_gauge_fg: Some("#dadada"),
  tag_fg: Some("#ef7e7e"),
  branch_fg: Some("#e5c76b"),
  block_title_focused: Some("#67b0e8"),
  syntax: Some("everblush"),
)
