(
  selected_tab: Some("#945ea6"),
  command_fg: Some("#b6bfbc"),
  selection_bg: Some("#002e1f"),
  selection_fg: Some("#b6bfbc"),
  cmdbar_bg: Some("#00120c"),
  disabled_fg: Some("#526b82"),
  diff_line_add: Some("#12b27d"),
  diff_line_delete: Some("#c27280"),
  diff_file_added: Some("#12b27d"),
  diff_file_removed: Some("#c27280"),
  diff_file_moved: Some("#945ea6"),
  diff_file_modified: Some("#969e9b"),
  commit_hash: Some("#b6bfbc"),
  commit_time: Some("#6c94b8"),
  commit_author: Some("#32878f"),
  danger_fg: Some("#c27280"),
  push_gauge_bg: Some("#002e1f"),
  push_gauge_fg: Some("#b6bfbc"),
  tag_fg: Some("#945ea6"),
  branch_fg: Some("#12b27d"),
  block_title_focused: Some("#b6bfbc"),
  syntax: Some("kinda_nvim_light"),
)
