(
  selected_tab: Some("#ff8fc4"),
  command_fg: Some("#eee4ff"),
  selection_bg: Some("#0d2847"),
  selection_fg: Some("#eee4ff"),
  cmdbar_bg: Some("#26202c"),
  disabled_fg: Some("#5d4869"),
  diff_line_add: Some("#8cfba2"),
  diff_line_delete: Some("#fb9b8c"),
  diff_file_added: Some("#8cfba2"),
  diff_file_removed: Some("#fb9b8c"),
  diff_file_moved: Some("#ff8fc4"),
  diff_file_modified: Some("#fbe88c"),
  commit_hash: Some("#eee4ff"),
  commit_time: Some("#8cc9fb"),
  commit_author: Some("#eee4ff"),
  danger_fg: Some("#fb9b8c"),
  push_gauge_bg: Some("#0d2847"),
  push_gauge_fg: Some("#eee4ff"),
  tag_fg: Some("#ff8fc4"),
  branch_fg: Some("#eee4ff"),
  block_title_focused: Some("#eee4ff"),
  syntax: Some("hazyland"),
)
