(
  selected_tab: Some("#dc322f"),
  command_fg: Some("#93a1a1"),
  selection_bg: Some("#133e49"),
  selection_fg: Some("#93a1a1"),
  cmdbar_bg: Some("#0a3540"),
  disabled_fg: Some("#28535e"),
  diff_line_add: Some("#859900"),
  diff_line_delete: Some("#dc322f"),
  diff_file_added: Some("#859900"),
  diff_file_removed: Some("#dc322f"),
  diff_file_moved: Some("#dc322f"),
  diff_file_modified: Some("#b58900"),
  commit_hash: Some("#cb4b16"),
  commit_time: Some("#268bd2"),
  commit_author: Some("#93a1a1"),
  danger_fg: Some("#dc322f"),
  push_gauge_bg: Some("#133e49"),
  push_gauge_fg: Some("#93a1a1"),
  tag_fg: Some("#dc322f"),
  branch_fg: Some("#b58900"),
  block_title_focused: Some("#0a3540"),
  syntax: Some("nvchad_solarized_dark"),
)
