(
  selected_tab: Some("#ff5d62"),
  command_fg: Some("#dcd7ba"),
  selection_bg: Some("#2d4f67"),
  selection_fg: Some("#dcd7ba"),
  cmdbar_bg: Some("#16161d"),
  disabled_fg: Some("#727169"),
  diff_line_add: Some("#76946a"),
  diff_line_delete: Some("#c34043"),
  diff_file_added: Some("#76946a"),
  diff_file_removed: Some("#c34043"),
  diff_file_moved: Some("#ff5d62"),
  diff_file_modified: Some("#dca561"),
  commit_hash: Some("#ffa066"),
  commit_time: Some("#658594"),
  commit_author: Some("#dcd7ba"),
  danger_fg: Some("#e82424"),
  push_gauge_bg: Some("#2d4f67"),
  push_gauge_fg: Some("#dcd7ba"),
  tag_fg: Some("#ff5d62"),
  branch_fg: Some("#7aa89f"),
  block_title_focused: Some("#223249"),
  syntax: Some("kanagawa"),
)
