(
  selected_tab: Some("#a5d6ff"),
  command_fg: Some("#8b949e"),
  selection_bg: Some("#0c2d6b"),
  selection_fg: Some("#8b949e"),
  cmdbar_bg: Some("#21262d"),
  disabled_fg: Some("#8b949e"),
  diff_line_add: Some("#3fb950"),
  diff_line_delete: Some("#f85149"),
  diff_file_added: Some("#3fb950"),
  diff_file_removed: Some("#f85149"),
  diff_file_moved: Some("#a5d6ff"),
  diff_file_modified: Some("#d29922"),
  commit_hash: Some("#79c0ff"),
  commit_time: Some("#58a6ff"),
  commit_author: Some("#c9d1d9"),
  danger_fg: Some("#f85149"),
  push_gauge_bg: Some("#0c2d6b"),
  push_gauge_fg: Some("#8b949e"),
  tag_fg: Some("#a5d6ff"),
  branch_fg: Some("#ffa657"),
  block_title_focused: Some("#c9d1d9"),
  syntax: Some("github_dark_dimmed"),
)
