(
  selected_tab: Some("#7fdc59"),
  command_fg: Some("#e5ded6"),
  selection_bg: Some("#232d38"),
  selection_fg: Some("#e5ded6"),
  cmdbar_bg: Some("#232d38"),
  disabled_fg: Some("#abb2bf"),
  diff_line_add: Some("#59dcb7"),
  diff_line_delete: Some("#dc597f"),
  diff_file_added: Some("#59dcb7"),
  diff_file_removed: Some("#dc597f"),
  diff_file_moved: Some("#7fdc59"),
  diff_file_modified: Some("#dc7759"),
  commit_hash: Some("#59dcb7"),
  commit_time: Some("#59dcb7"),
  commit_author: Some("#c6b8ad"),
  danger_fg: Some("#dc597f"),
  push_gauge_bg: Some("#232d38"),
  push_gauge_fg: Some("#e5ded6"),
  tag_fg: Some("#7fdc59"),
  branch_fg: Some("#dc597f"),
  block_title_focused: Some("#abb2bf"),
  syntax: Some("bogster"),
)
