(
  selected_tab: Some("#000000"),
  command_fg: Some("#000000"),
  selection_bg: Some("#eeee9e"),
  selection_fg: Some("#000000"),
  cmdbar_bg: Some("#aeeeee"),
  disabled_fg: Some("#065905"),
  diff_line_add: Some("#065905"),
  diff_line_delete: Some("#a0342f"),
  diff_file_added: Some("#065905"),
  diff_file_removed: Some("#a0342f"),
  diff_file_moved: Some("#000000"),
  diff_file_modified: Some("#aeeeee"),
  commit_hash: Some("#000000"),
  commit_time: Some("#065905"),
  commit_author: Some("#000000"),
  danger_fg: Some("#ffffff"),
  push_gauge_bg: Some("#eeee9e"),
  push_gauge_fg: Some("#000000"),
  tag_fg: Some("#000000"),
  branch_fg: Some("#000000"),
  block_title_focused: Some("#ffffff"),
  syntax: Some("acme"),
)
