(
  selected_tab: Some("#b5bf82"),
  command_fg: Some("#e2a578"),
  selection_bg: Some("#282d43"),
  selection_fg: Some("#e2a578"),
  cmdbar_bg: Some("#0f1117"),
  disabled_fg: Some("#6c7189"),
  diff_line_add: Some("#b5bf82"),
  diff_line_delete: Some("#e27878"),
  diff_file_added: Some("#b5bf82"),
  diff_file_removed: Some("#e27878"),
  diff_file_moved: Some("#b5bf82"),
  diff_file_modified: Some("#85a0c7"),
  commit_hash: Some("#a093c8"),
  commit_time: Some("#89b9c2"),
  commit_author: Some("#c7c9d1"),
  danger_fg: Some("#e27878"),
  push_gauge_bg: Some("#282d43"),
  push_gauge_fg: Some("#e2a578"),
  tag_fg: Some("#b5bf82"),
  branch_fg: Some("#85a0c7"),
  block_title_focused: Some("#e2a578"),
  syntax: Some("iceberg-dark"),
)
