(
  selected_tab: Some("#d1b897"),
  command_fg: Some("#d1b897"),
  selection_bg: Some("#0000ff"),
  selection_fg: Some("#d1b897"),
  cmdbar_bg: Some("#d1b897"),
  disabled_fg: Some("#44b340"),
  diff_line_add: Some("#a6e22e"),
  diff_line_delete: Some("#f92672"),
  diff_file_added: Some("#a6e22e"),
  diff_file_removed: Some("#f92672"),
  diff_file_moved: Some("#d1b897"),
  diff_file_modified: Some("#66d9ef"),
  commit_hash: Some("#7ad0c6"),
  commit_time: Some("#44b340"),
  commit_author: Some("#c1d1e3"),
  danger_fg: Some("#d1b897"),
  push_gauge_bg: Some("#0000ff"),
  push_gauge_fg: Some("#d1b897"),
  tag_fg: Some("#d1b897"),
  branch_fg: Some("#d1b897"),
  block_title_focused: Some("#c7b192"),
  syntax: Some("naysayer"),
)
