(
  selected_tab: Some("#7ea7ff"),
  command_fg: Some("#c9cbdb"),
  selection_bg: Some("#5d4089"),
  selection_fg: Some("#c9cbdb"),
  cmdbar_bg: Some("#171530"),
  disabled_fg: Some("#5c588a"),
  diff_line_add: Some("#45f5cf"),
  diff_line_delete: Some("#ff6e9c"),
  diff_file_added: Some("#45f5cf"),
  diff_file_removed: Some("#ff6e9c"),
  diff_file_moved: Some("#7ea7ff"),
  diff_file_modified: Some("#f1c56c"),
  commit_hash: Some("#e591ff"),
  commit_time: Some("#7da7ff"),
  commit_author: Some("#c9cbdb"),
  danger_fg: Some("#c9cbdb"),
  push_gauge_bg: Some("#5d4089"),
  push_gauge_fg: Some("#c9cbdb"),
  tag_fg: Some("#7ea7ff"),
  branch_fg: Some("#e591ff"),
  block_title_focused: Some("#7ea7fb"),
  syntax: Some("night_rider"),
)
