(
  selected_tab: Some("#e4b782"),
  command_fg: Some("#9889e4"),
  selection_bg: Some("#2e2b38"),
  selection_fg: Some("#9889e4"),
  cmdbar_bg: Some("#1f1a27"),
  disabled_fg: Some("#7d7d7d"),
  diff_line_add: Some("#54c59f"),
  diff_line_delete: Some("#df769b"),
  diff_file_added: Some("#54c59f"),
  diff_file_removed: Some("#df769b"),
  diff_file_moved: Some("#e4b782"),
  diff_file_modified: Some("#c7a06f"),
  commit_hash: Some("#54c59f"),
  commit_time: Some("#47ace8"),
  commit_author: Some("#bdbdbd"),
  danger_fg: Some("#c55858"),
  push_gauge_bg: Some("#2e2b38"),
  push_gauge_fg: Some("#9889e4"),
  tag_fg: Some("#e4b782"),
  branch_fg: Some("#47ace8"),
  block_title_focused: Some("#e9488a"),
  syntax: Some("aurara"),
)
