(
  selected_tab: Some("#ffffff"),
  command_fg: Some("#d4d4d4"),
  selection_bg: Some("#3a3d41"),
  selection_fg: Some("#d4d4d4"),
  cmdbar_bg: Some("#007acc"),
  disabled_fg: Some("#777c85"),
  diff_line_add: Some("#92d192"),
  diff_line_delete: Some("#f2777a"),
  diff_file_added: Some("#92d192"),
  diff_file_removed: Some("#f2777a"),
  diff_file_moved: Some("#ffffff"),
  diff_file_modified: Some("#6ab0f3"),
  commit_hash: Some("#e1a6f2"),
  commit_time: Some("#6ab0f3"),
  commit_author: Some("#f2777a"),
  danger_fg: Some("#f2777a"),
  push_gauge_bg: Some("#3a3d41"),
  push_gauge_fg: Some("#d4d4d4"),
  tag_fg: Some("#ffffff"),
  branch_fg: Some("#6ab0f3"),
  block_title_focused: Some("#a6a6a6"),
  syntax: Some("new_moon"),
)
